Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

fix: correction erreurs TypeScript orders.service - génération Prisma Client
  CORRECTION_ERREURS_TYPESCRIPT.md
Due: none

fix: Railway Dockerfile configuration
  Dockerfile
  railway.json
  railway.toml
Due: none

fix: Corriger double préfixe API - utiliser /api/v1/ au lieu de /api/
  apps/frontend/src/lib/api/client.ts
Due: unittests, e2e, Frontend Libraries

fix: Corriger endpoint refresh token dans intercepteur
  apps/frontend/src/lib/api/client.ts
Due: unittests, e2e, Frontend Libraries

optimize: Réduire taille image Docker avec build multi-stage et alpine
  .dockerignore
  Dockerfile
Due: none

fix: Corriger Dockerfile Alpine pour compatibilité pnpm et nettoyage optimisé
  Dockerfile
Due: none

fix: Ajouter Python et build tools pour canvas, copier node_modules compilés
  Dockerfile
Due: none

fix: Ajouter dépendances système pour canvas dans le stage builder
  Dockerfile
Due: none

fix: Copier node_modules compilés depuis builder au lieu de réinstaller
  Dockerfile
Due: none

fix: Supprimer pnpm install en production, copier node_modules compilés depuis builder
  Dockerfile
Due: none

fix: Ajouter py3-setuptools pour distutils requis par node-gyp
  Dockerfile
Due: none

fix: Downgrader canvas de 3.2.0 à 2.11.2 pour compatibilité compilation Alpine
  apps/backend/package.json
Due: none

fix: Mettre à jour pnpm-lock.yaml après downgrade canvas
  pnpm-lock.yaml
Due: none

fix: Supprimer copie apps/backend/node_modules inexistant dans monorepo pnpm
  Dockerfile
Due: none

feat: Adaptation page virtual-try-on au nouveau design
  FINAL_STATUS_DESIGN.md
  PLAN_ADAPTATION_COMPLETE.md
  apps/frontend/src/app/(public)/solutions/virtual-try-on/page.tsx
  apps/frontend/src/components/marketing/shared/page-wrapper.tsx
  scripts/adapt-all-pages.sh
Due: unittests, e2e, Frontend Components

feat: Adaptation page configurator-3d au nouveau design
  apps/frontend/src/app/(public)/solutions/configurator-3d/page.tsx
Due: unittests, e2e

feat: Adaptation pages customizer et ai-design-hub au nouveau design
  apps/frontend/src/app/(public)/solutions/ai-design-hub/page.tsx
  apps/frontend/src/app/(public)/solutions/customizer/page.tsx
Due: unittests, e2e

feat: Adaptation pages solutions principales au nouveau design
  apps/frontend/src/app/(public)/solutions/branding/page.tsx
  apps/frontend/src/app/(public)/solutions/ecommerce/page.tsx
  apps/frontend/src/app/(public)/solutions/marketing/page.tsx
  apps/frontend/src/app/(public)/solutions/social/page.tsx
Due: unittests, e2e

feat: Finalisation adaptation pages solutions avec CTASectionNew
  apps/frontend/src/app/(public)/solutions/ecommerce/page.tsx
  apps/frontend/src/app/(public)/solutions/marketing/page.tsx
  apps/frontend/src/app/(public)/solutions/social/page.tsx
Due: unittests, e2e

fix: Corriger toutes les erreurs TypeScript (46 erreurs)
  apps/backend/src/common/decorators/current-user.decorator.ts
  apps/backend/src/modules/agents/luna/luna.controller.ts
  apps/backend/src/modules/agents/luna/luna.service.ts
  apps/backend/src/modules/agents/nova/nova.controller.ts
  apps/backend/src/modules/agents/nova/nova.service.ts
  apps/backend/src/modules/agents/optimizations/vector-store.service.ts
  apps/backend/src/modules/agents/services/agent-memory.service.ts
  apps/backend/src/modules/agents/services/agent-metrics.service.ts
  apps/backend/src/modules/agents/services/context-manager.service.ts
  apps/backend/src/modules/agents/services/conversation.service.ts
  apps/backend/src/modules/agents/services/intent-detection.service.ts
  apps/backend/src/modules/agents/services/rag.service.ts
  apps/backend/src/modules/analytics/controllers/reports.controller.ts
  apps/backend/src/modules/analytics/services/metrics.service.ts
  apps/backend/src/modules/analytics/services/predictive.service.ts
  apps/backend/src/modules/integrations/services/sync-engine.service.ts
  apps/backend/src/modules/integrations/shopify/shopify.service.ts
  apps/backend/src/websocket/realtime.gateway.ts
Due: none

fix: Remplacement CTA final branding par CTASectionNew
  apps/frontend/src/app/(public)/solutions/branding/page.tsx
Due: unittests, e2e

feat: Adaptation complète de toutes les pages use-cases au nouveau design
  apps/frontend/src/app/(public)/use-cases/agency/page.tsx
  apps/frontend/src/app/(public)/use-cases/branding/page.tsx
  apps/frontend/src/app/(public)/use-cases/dropshipping/page.tsx
  apps/frontend/src/app/(public)/use-cases/e-commerce/page.tsx
  apps/frontend/src/app/(public)/use-cases/marketing/page.tsx
  apps/frontend/src/app/(public)/use-cases/print-on-demand/page.tsx
Due: unittests, e2e

fix: Corriger les 4 dernières erreurs TypeScript
  STATUS_ADAPTATION_COMPLETE.md
  apps/backend/src/modules/agents/nova/nova.controller.ts
  apps/backend/src/modules/integrations/shopify/shopify.service.ts
  apps/backend/src/modules/security/services/gdpr.service.ts
  apps/frontend/src/app/(public)/industries/fashion/page.tsx
Due: unittests, e2e

fix: Corriger les 3 dernières erreurs TypeScript (category mapping, slug requis, userId null)
  apps/backend/src/modules/agents/nova/nova.controller.ts
  apps/backend/src/modules/integrations/shopify/shopify.service.ts
  apps/frontend/src/app/(public)/industries/automotive/page.tsx
  apps/frontend/src/app/(public)/industries/electronics/page.tsx
  apps/frontend/src/app/(public)/industries/fashion/page.tsx
  apps/frontend/src/app/(public)/industries/furniture/page.tsx
  apps/frontend/src/app/(public)/industries/jewelry/page.tsx
Due: unittests, e2e

feat: Adaptation complète de toutes les pages industries au nouveau design
  apps/frontend/src/app/(public)/industries/[slug]/page.tsx
  apps/frontend/src/app/(public)/industries/sports/page.tsx
Due: unittests, e2e

feat: Création pages jewellery et printing + finalisation industries
  apps/frontend/src/app/(public)/industries/jewellery/page.tsx
  apps/frontend/src/app/(public)/industries/printing/page.tsx
Due: unittests, e2e

fix: Corriger script de démarrage Docker (supprimer cd inutile, utiliser sh explicitement)
  Dockerfile
Due: none

fix: Corriger startCommand Railway pour utiliser le script de démarrage
  railway.json
  railway.toml
Due: none

feat: Adaptation finale des 3 dernières pages solutions au nouveau design
  apps/frontend/src/app/(public)/solutions/3d-asset-hub/page.tsx
  apps/frontend/src/app/(public)/solutions/social-media/page.tsx
  apps/frontend/src/app/(public)/solutions/visual-customizer/page.tsx
Due: unittests, e2e

fix: Corriger accès node_modules dans monorepo pnpm (copier fichiers pnpm, exécuter depuis racine)
  Dockerfile
Due: none

fix: Ajouter NODE_PATH pour accès node_modules dans monorepo pnpm
  Dockerfile
Due: none

fix: Corriger accès Prisma CLI et node_modules (NODE_PATH, PATH, chemins absolus)
  Dockerfile
Due: none

fix: Utiliser pnpm exec pour résoudre les chemins modules dans monorepo
  Dockerfile
Due: none

fix: Installer dépendances production dans stage production (structure pnpm correcte)
  Dockerfile
Due: none

fix: Ajouter dépendances système canvas en production et simplifier script démarrage
  Dockerfile
Due: none

fix: Installer outils build pour compiler canvas puis les supprimer
  Dockerfile
Due: none

fix: Générer Prisma Client dans stage production et vérifier dans script démarrage
  Dockerfile
Due: none

fix: Copier Prisma Client généré depuis builder au lieu de le régénérer
  Dockerfile
Due: none

fix: Copier Prisma Client depuis builder avec fallback pour différentes structures
  Dockerfile
Due: none

Path conditions:
  unittests: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  e2e: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Components: any of: apps/frontend/src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Hooks: any of: apps/frontend/src/hooks/**, apps/frontend/src/lib/hooks/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Libraries: any of: apps/frontend/src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend API Routes: any of: apps/frontend/src/app/api/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
