Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

chore: Force rebuild - Vérification déploiement auth layout
  apps/frontend/src/app/(auth)/layout.tsx
Due: unittests, e2e

chore: Cleanup - Retrait commentaire temporaire
  apps/frontend/src/app/(auth)/layout.tsx
Due: unittests, e2e

docs: Instructions pour déploiement manuel
  INSTRUCTIONS_DEPLOIEMENT.md
  VERIFICATION_DEPLOIEMENT.md
Due: none

docs: Ajouter guide complet de déploiement Railway avec toutes les erreurs et solutions
  RAILWAY_DEPLOYMENT_GUIDE.md
Due: none

feat: Ajouter script de vérification pré-déploiement Railway
  scripts/pre-deploy-check.sh
Due: none

feat: Add automatic deployment workflows for Railway and Vercel
  .github/workflows/deploy-railway-backend.yml
  .github/workflows/deploy-vercel-frontend.yml
  docs/DEPLOIEMENT_AUTOMATIQUE_SETUP.md
  scripts/setup-auto-deployment.sh
Due: none

feat: Phase 4 - Ads Integrations & Webhooks Management
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/templates/AITemplatesPageClient.tsx
  apps/frontend/src/app/(super-admin)/admin/ads/google/page.tsx
  apps/frontend/src/app/(super-admin)/admin/ads/meta/page.tsx
  apps/frontend/src/app/(super-admin)/admin/ads/page.tsx
  apps/frontend/src/app/(super-admin)/admin/ads/tiktok/page.tsx
  apps/frontend/src/app/(super-admin)/admin/events/page.tsx
  apps/frontend/src/app/(super-admin)/admin/webhooks/page.tsx
  apps/frontend/src/app/api/admin/ads/meta/callback/route.ts
  apps/frontend/src/app/api/admin/ads/meta/campaigns/route.ts
  apps/frontend/src/app/api/admin/ads/meta/connect/route.ts
  apps/frontend/src/app/api/admin/ads/meta/insights/route.ts
  apps/frontend/src/app/api/admin/events/route.ts
  apps/frontend/src/app/api/admin/webhooks/[webhookId]/route.ts
  apps/frontend/src/app/api/admin/webhooks/[webhookId]/test/route.ts
  apps/frontend/src/app/api/admin/webhooks/route.ts
  apps/frontend/src/lib/admin/integrations/google-ads.ts
  apps/frontend/src/lib/admin/integrations/meta-ads.ts
  apps/frontend/src/lib/admin/integrations/oauth-helpers.ts
  apps/frontend/src/lib/admin/integrations/tiktok-ads.ts
  docs/PHASE_4_COMPLETE.md
  docs/PHASE_4_PLAN.md
  docs/RESUME_FINAL_DEPLOIEMENT.md
Due: unittests, e2e, Frontend Libraries, Frontend API Routes

fix: Update pnpm-lock.yaml and fix Dockerfile for Railway deployment
  Dockerfile
  pnpm-lock.yaml
Due: none

fix: Correct TypeScript errors in build
  apps/backend/src/modules/analytics/services/advanced-analytics.service.ts
  apps/backend/src/modules/analytics/services/export.service.ts
  apps/backend/src/modules/auth/strategies/oidc.strategy.ts
  apps/backend/src/modules/auth/strategies/saml.strategy.ts
  apps/frontend/src/app/(dashboard)/dashboard/ar-studio/collaboration/hooks/useCollaboration.ts
  apps/frontend/src/app/(dashboard)/dashboard/ar-studio/components/ARFilters.tsx
  apps/frontend/src/app/(dashboard)/dashboard/ar-studio/components/modals/UploadARModal.tsx
  apps/frontend/src/app/(dashboard)/dashboard/ar-studio/hooks/useARModels.ts
  docs/FIX_RAILWAY_DEPLOYMENT.md
  docs/RESUME_FINAL_COMPLET.md
Due: unittests, e2e

fix: Change metricType to metric in UsageMetric query
  apps/backend/src/modules/analytics/services/advanced-analytics.service.ts
  apps/frontend/src/app/(dashboard)/dashboard/ar-studio/integrations/ARIntegrationsPageClient.tsx
Due: unittests, e2e

docs: Add Railway build errors fix documentation
  docs/FIX_RAILWAY_BUILD_ERRORS.md
Due: none

fix: Force Railway rebuild - all TypeScript errors fixed
  Dockerfile
Due: none

fix: Final TypeScript errors - ExcelJS types and Strategy classes
  apps/backend/src/modules/analytics/services/export.service.ts
  apps/backend/src/modules/auth/strategies/oidc.strategy.ts
  apps/backend/src/modules/auth/strategies/saml.strategy.ts
  apps/frontend/src/app/(dashboard)/dashboard/ar-studio/integrations/ARIntegrationsPageClient.tsx
  apps/frontend/src/app/(dashboard)/dashboard/ar-studio/preview/components/modals/QRCodeModal.tsx
  apps/frontend/src/app/(dashboard)/dashboard/components/QuickActions.tsx
  apps/frontend/src/app/(dashboard)/dashboard/configurator-3d/Configurator3DPageClient.tsx
  apps/frontend/src/app/(dashboard)/dashboard/customizer/page.tsx
  docs/RAILWAY_BUILD_STATUS.md
Due: unittests, e2e

fix: Make OAuth strategies conditional - only load if configured
  apps/backend/src/modules/auth/auth.module.ts
  apps/backend/src/modules/auth/strategies/github.strategy.ts
  apps/backend/src/modules/auth/strategies/google.strategy.ts
  apps/frontend/src/app/(dashboard)/dashboard/customizer/page.tsx
  docs/FIX_FINAL_TYPESCRIPT_ERRORS.md
Due: unittests, e2e

docs: Add Railway corrections bible - Complete documentation of all fixes
  docs/BIBLE_RAILWAY_CORRECTIONS.md
Due: none

feat: Complete CAPTCHA integration for Register and Contact forms
  apps/frontend/src/app/(dashboard)/dashboard/customizer/page.tsx
  apps/frontend/src/app/api/contact/route.ts
  docs/CAPTCHA_INTEGRATION.md
Due: unittests, e2e, Frontend API Routes

feat: SEO Optimization - Add metadata helpers and structured data
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/lib/seo/metadata.ts
  apps/frontend/src/lib/seo/schema.ts
Due: unittests, e2e, Frontend Libraries

fix: Add missing SEO helper exports for backward compatibility
  apps/frontend/src/lib/seo/metadata.ts
Due: unittests, e2e, Frontend Libraries

feat: Complete Analytics Tracking - Google Analytics + Mixpanel integration
  apps/frontend/src/app/(dashboard)/dashboard/customizer/page.tsx
  apps/frontend/src/components/analytics/AnalyticsProvider.tsx
  apps/frontend/src/lib/analytics/AnalyticsService.ts
  docs/ANALYTICS_TRACKING.md
Due: unittests, e2e, Frontend Components, Frontend Libraries

feat: Enhance Analytics Export - PDF/Excel/CSV with enriched metrics
  apps/backend/src/modules/analytics/services/export.service.ts
  docs/ANALYTICS_EXPORT.md
Due: none

fix: Railway build error - Replace renderResult.count with design.count for renders
  apps/backend/src/modules/analytics/services/export.service.ts
  apps/frontend/src/app/(dashboard)/dashboard/customizer/page.tsx
Due: unittests, e2e

docs: Update Railway corrections bible with RenderResult fix
  docs/BIBLE_RAILWAY_CORRECTIONS.md
Due: none

feat: Complete CDN Configuration - Vercel + Cloudinary + Cloudflare
  apps/frontend/next.config.mjs
  apps/frontend/src/app/(dashboard)/dashboard/customizer/page.tsx
  apps/frontend/src/lib/cdn/cloudinary-loader.ts
  docs/CDN_CONFIGURATION.md
Due: unittests, e2e, Frontend Libraries

feat: Enhance Rate Limiting - Upstash Redis + Sliding Window
  apps/frontend/middleware.ts
  apps/frontend/src/app/(dashboard)/dashboard/editor/components/modals/ExportModal.tsx
  apps/frontend/src/app/(dashboard)/dashboard/integrations-dashboard/page.tsx
  apps/frontend/src/lib/rate-limit/index.ts
  docs/RATE_LIMITING.md
Due: unittests, e2e, Frontend Libraries

feat: Complete Performance Monitoring - Web Vitals + API + Database
  apps/backend/src/modules/analytics/analytics.module.ts
  apps/backend/src/modules/analytics/controllers/web-vitals.controller.ts
  apps/backend/src/modules/analytics/dto/web-vitals.dto.ts
  apps/backend/src/modules/analytics/services/web-vitals.service.ts
  apps/backend/src/modules/monitoring/controllers/performance.controller.ts
  apps/backend/src/modules/monitoring/monitoring.module.ts
  apps/backend/src/modules/monitoring/services/performance-monitoring.service.ts
  apps/frontend/src/app/(dashboard)/dashboard/integrations-dashboard/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/integrations/page.tsx
  docs/PERFORMANCE_MONITORING.md
Due: unittests, e2e

feat: Complete OAuth Migration NestJS - Google, GitHub, SAML, OIDC
  apps/backend/src/modules/auth/auth.module.ts
  apps/backend/src/modules/auth/controllers/oauth.controller.ts
  apps/backend/src/modules/auth/guards/oauth.guard.ts
  apps/backend/src/modules/auth/services/oauth.service.ts
  apps/backend/src/modules/auth/strategies/github.strategy.ts
  apps/backend/src/modules/auth/strategies/google.strategy.ts
  apps/frontend/src/app/(dashboard)/dashboard/integrations/page.tsx
  docs/OAUTH_MIGRATION_NESTJS.md
Due: unittests, e2e

feat: Complete E2E Testing Suite - Playwright + Supertest
  apps/backend/test/e2e/auth.e2e-spec.ts
  apps/backend/test/e2e/rate-limiting.e2e-spec.ts
  apps/backend/test/e2e/web-vitals.e2e-spec.ts
  apps/frontend/src/app/(dashboard)/dashboard/integrations/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/library/components/LibraryFilters.tsx
  apps/frontend/src/app/(dashboard)/dashboard/library/hooks/useLibrary.ts
  apps/frontend/tests/e2e/admin-dashboard.spec.ts
  apps/frontend/tests/e2e/captcha.spec.ts
  apps/frontend/tests/e2e/oauth.spec.ts
  apps/frontend/tests/e2e/performance-monitoring.spec.ts
  apps/frontend/tests/e2e/rate-limiting.spec.ts
  apps/frontend/tests/e2e/seo.spec.ts
  docs/E2E_TESTING.md
Due: unittests, e2e

feat: Phase 2 P2 - SSO Enterprise, Cache Extension, Audit Logs
  apps/backend/src/libs/redis/cache-extension.service.ts
  apps/backend/src/modules/audit/audit.module.ts
  apps/backend/src/modules/audit/controllers/audit-log.controller.ts
  apps/backend/src/modules/audit/services/audit-log.service.ts
  apps/backend/src/modules/auth/auth.module.ts
  apps/backend/src/modules/auth/controllers/sso-enterprise.controller.ts
  apps/backend/src/modules/auth/services/sso-enterprise.service.ts
  apps/frontend/src/app/(dashboard)/dashboard/library/LibraryPageClient.tsx
  apps/frontend/src/app/(dashboard)/dashboard/library/import/hooks/useFileUpload.ts
  docs/SSO_ENTERPRISE.md
Due: unittests, e2e

feat: Phase 2 P2 Complete - Cache Warming
  apps/backend/src/app.module.ts
  apps/backend/src/modules/cache/cache.module.ts
  apps/backend/src/modules/cache/services/cache-warming.service.ts
Due: none

feat: Phase 3 P3 - Code Quality & Performance Guides
  apps/frontend/src/app/(dashboard)/dashboard/library/LibraryPageClient.tsx
  docs/CODE_QUALITY_STANDARDS.md
  docs/PERFORMANCE_OPTIMIZATION_GUIDE.md
  docs/PHASE_2_COMPLETE.md
Due: unittests, e2e

docs: Complete Development Summary
  docs/DEVELOPMENT_COMPLETE_SUMMARY.md
Due: none

docs: Complete Phase 3 P3 - API Documentation & Testing Coverage Plan
  apps/frontend/src/app/(dashboard)/dashboard/products/components/BulkActionsBar.tsx
  apps/frontend/src/app/(dashboard)/dashboard/security/hooks/useSessions.ts
  apps/frontend/src/app/(dashboard)/dashboard/support/page.tsx
  apps/frontend/src/lib/hooks/useSupport.ts
  docs/API_DOCUMENTATION.md
  docs/TESTING_COVERAGE_PLAN.md
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

docs: Final Summary - All Phases Complete
  docs/FINAL_SUMMARY.md
Due: none

feat: Advanced Analytics Visualizations - Complete Phase 2 P2
  apps/frontend/src/app/(dashboard)/dashboard/support/page.tsx
  apps/frontend/src/app/(super-admin)/admin/analytics/advanced/page.tsx
  apps/frontend/src/components/admin/analytics/area-chart.tsx
  apps/frontend/src/components/admin/analytics/heatmap-chart.tsx
  apps/frontend/src/components/admin/analytics/scatter-chart.tsx
  apps/frontend/src/lib/hooks/useSupport.ts
Due: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries

feat: Complete Advanced Visualizations - All Chart Types
  apps/frontend/src/app/(dashboard)/dashboard/support/page.tsx
  apps/frontend/src/app/(super-admin)/admin/analytics/advanced/page.tsx
  apps/frontend/src/components/admin/analytics/combo-chart.tsx
  apps/frontend/src/components/admin/analytics/line-chart.tsx
  apps/frontend/src/components/admin/analytics/radar-chart.tsx
  apps/frontend/src/config/admin-navigation.ts
Due: unittests, e2e, Frontend Components

docs: Final Completion Report - 100% Complete
  docs/COMPLETION_REPORT.md
Due: none

fix: Railway Build Errors - OAuth & Cache Warming
  apps/backend/src/modules/auth/services/oauth.service.ts
  apps/backend/src/modules/auth/strategies/github.strategy.ts
  apps/backend/src/modules/cache/services/cache-warming.service.ts
  apps/frontend/src/app/(dashboard)/dashboard/support/page.tsx
  docs/ENHANCED_TESTING_COVERAGE_PLAN.md
Due: unittests, e2e

docs: Update Railway Corrections with OAuth & Cache fixes
  docs/BIBLE_RAILWAY_CORRECTIONS.md
Due: none

fix: Railway Build - OAuth Accounts & Provider Types
  apps/backend/src/modules/auth/services/oauth.service.ts
  apps/backend/src/modules/auth/strategies/github.strategy.ts
  apps/backend/src/modules/auth/strategies/google.strategy.ts
  apps/frontend/src/app/(dashboard)/dashboard/support/page.tsx
Due: unittests, e2e

Path conditions:
  unittests: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  e2e: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Components: any of: apps/frontend/src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Hooks: any of: apps/frontend/src/hooks/**, apps/frontend/src/lib/hooks/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Libraries: any of: apps/frontend/src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend API Routes: any of: apps/frontend/src/app/api/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
