Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

codecov.yml:

# Codecov Configuration
# T-005: Int√©grer Codecov pour rapports de couverture

# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        # Overall project coverage target
        target: 70%
        threshold: 2%
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        # Coverage on changed lines in PR
        target: 80%
        threshold: 5%
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches:
    - main
    - develop
    - staging

flags:
  unittests:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1
  
  e2e:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/*.d.ts"
  - "**/types/**"
  - "**/config/**"
  - "**/scripts/**"

# Component Management (shows coverage per component)
component_management:
  individual_components:
    - component_id: frontend_components
      name: Frontend Components
      paths:
        - apps/frontend/src/components/**
    - component_id: frontend_hooks
      name: Frontend Hooks
      paths:
        - apps/frontend/src/hooks/**
        - apps/frontend/src/lib/hooks/**
    - component_id: frontend_lib
      name: Frontend Libraries
      paths:
        - apps/frontend/src/lib/**
    - component_id: frontend_api
      name: Frontend API Routes
      paths:
        - apps/frontend/src/app/api/**

# GitHub Checks
github_checks:
  annotations: true

fix: correct i18n ts files to use proper type imports
  apps/frontend/src/i18n/locales/de.ts
  apps/frontend/src/i18n/locales/es.ts
  apps/frontend/src/i18n/locales/it.ts
Due: unittests, e2e

fix: complete common properties in i18n translation files
  apps/frontend/src/i18n/locales/de.json
  apps/frontend/src/i18n/locales/es.json
  apps/frontend/src/i18n/locales/it.json
Due: unittests, e2e

fix: add unknown cast in de.ts translation file
  apps/frontend/src/i18n/index.ts
  apps/frontend/src/i18n/locales/de.ts
Due: unittests, e2e

fix: complete nav properties in i18n translation files
  apps/frontend/src/i18n/locales/de.json
  apps/frontend/src/i18n/locales/es.json
  apps/frontend/src/i18n/locales/it.json
Due: unittests, e2e

fix: use as any cast in de.ts like other translation files
  apps/frontend/src/i18n/locales/de.ts
  apps/frontend/src/i18n/locales/es.ts
  apps/frontend/src/i18n/locales/it.ts
Due: unittests, e2e

fix: make google-ads-api import conditional
  apps/frontend/src/lib/admin/integrations/google-ads.ts
Due: unittests, e2e, Frontend Libraries

fix: use any type for google-ads-api client
  apps/frontend/src/lib/admin/integrations/google-ads.ts
Due: unittests, e2e, Frontend Libraries

fix: add type annotation for user parameter in AdvancedAnalytics
  apps/frontend/src/lib/analytics/AdvancedAnalytics.ts
Due: unittests, e2e, Frontend Libraries

fix: add type annotation for map parameter in AdvancedAnalytics
  apps/frontend/src/lib/analytics/AdvancedAnalytics.ts
Due: unittests, e2e, Frontend Libraries

fix: add type annotations for reduce parameters in AdvancedAnalytics
  apps/frontend/src/lib/analytics/AdvancedAnalytics.ts
Due: unittests, e2e, Frontend Libraries

fix: add explicit type for sum parameter in reduce function
  apps/frontend/src/lib/analytics/AdvancedAnalytics.ts
Due: unittests, e2e, Frontend Libraries

fix: add type annotations for all user parameters in AdvancedAnalytics
  apps/frontend/src/lib/analytics/AdvancedAnalytics.ts
Due: unittests, e2e, Frontend Libraries

fix: add type annotation for customization parameter
  apps/frontend/src/lib/analytics/AdvancedAnalytics.ts
Due: unittests, e2e, Frontend Libraries

fix: add type annotation for similarUsers parameter
  apps/frontend/src/lib/analytics/AdvancedAnalytics.ts
Due: unittests, e2e, Frontend Libraries

fix: add type guard for productId filter
  apps/frontend/src/lib/analytics/AdvancedAnalytics.ts
Due: unittests, e2e, Frontend Libraries

fix: add type annotation for recommendedProducts forEach
  apps/frontend/src/lib/analytics/AdvancedAnalytics.ts
Due: unittests, e2e, Frontend Libraries

fix: add null check for productId in AdvancedAnalytics
  apps/frontend/src/lib/analytics/AdvancedAnalytics.ts
Due: unittests, e2e, Frontend Libraries

fix: add type annotation for popularProducts forEach
  apps/frontend/src/lib/analytics/AdvancedAnalytics.ts
Due: unittests, e2e, Frontend Libraries

fix: add explicit type for product parameter in forEach
  apps/frontend/src/lib/analytics/AdvancedAnalytics.ts
Due: unittests, e2e, Frontend Libraries

fix: correct product type in AdvancedAnalytics
  apps/frontend/src/lib/analytics/AdvancedAnalytics.ts
Due: unittests, e2e, Frontend Libraries

fix: remove duplicate category property in AnalyticsService
  apps/frontend/src/lib/analytics/AnalyticsService.ts
Due: unittests, e2e, Frontend Libraries

fix: add optional chaining for user metadata in AnalyticsService
  apps/frontend/src/lib/analytics/AnalyticsService.ts
Due: unittests, e2e, Frontend Libraries

fix: remove metadata property from user identification
  apps/frontend/src/lib/analytics/AnalyticsService.ts
Due: unittests, e2e, Frontend Libraries

fix: correct gtag set call syntax for user_id
  apps/frontend/src/lib/analytics/google-analytics.ts
Due: unittests, e2e, Frontend Libraries

fix: use config instead of set for gtag user_id
  apps/frontend/src/lib/analytics/google-analytics.ts
Due: unittests, e2e, Frontend Libraries

fix: remove unsupported textRenderingOptimization property
  apps/frontend/src/lib/bracelet/texture-generator.ts
Due: unittests, e2e, Frontend Libraries

fix: remove non-existent createCacheKey export
  apps/frontend/src/lib/cache/index.ts
Due: unittests, e2e, Frontend Libraries

fix: remove non-existent withCache export
  apps/frontend/src/lib/cache/index.ts
Due: unittests, e2e, Frontend Libraries

fix: correct CacheService export
  apps/frontend/src/lib/cache/index.ts
Due: unittests, e2e, Frontend Libraries

fix: correct TemplateGallery dynamic import
  apps/frontend/src/lib/dynamic-imports.tsx
Due: unittests, e2e, Frontend Libraries

fix: correct cacheService.set call with CacheOptions
  apps/frontend/src/lib/features/FeatureFlags.ts
Due: unittests, e2e, Frontend Libraries

fix: correct second cacheService.set call
  apps/frontend/src/lib/features/FeatureFlags.ts
Due: unittests, e2e, Frontend Libraries

fix: use isPending instead of isLoading for TRPC mutation
  apps/frontend/src/lib/hooks/useAR.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: use isPending for trackInteractionMutation
  apps/frontend/src/lib/hooks/useAR.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: use isPending for generateMutation
  apps/frontend/src/lib/hooks/useCustomization.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: use isPending for updateMutation
  apps/frontend/src/lib/hooks/useProduct.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: use isPending for deleteMutation and uploadModelMutation
  apps/frontend/src/lib/hooks/useProduct.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: import NextResponse as value not type
  apps/frontend/src/lib/middleware/customization-guard.ts
Due: unittests, e2e, Frontend Libraries

fix: import NextResponse as value in product-guard
  apps/frontend/src/lib/middleware/product-guard.ts
Due: unittests, e2e, Frontend Libraries

fix: make chart.js import conditional in bundle-optimization
  apps/frontend/src/lib/performance/bundle-optimization.ts
Due: unittests, e2e, Frontend Libraries
