Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

codecov.yml:

# Codecov Configuration
# T-005: Int√©grer Codecov pour rapports de couverture

# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        # Overall project coverage target
        target: 70%
        threshold: 2%
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        # Coverage on changed lines in PR
        target: 80%
        threshold: 5%
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches:
    - main
    - develop
    - staging

flags:
  unittests:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1
  
  e2e:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/*.d.ts"
  - "**/types/**"
  - "**/config/**"
  - "**/scripts/**"

# Component Management (shows coverage per component)
component_management:
  individual_components:
    - component_id: frontend_components
      name: Frontend Components
      paths:
        - apps/frontend/src/components/**
    - component_id: frontend_hooks
      name: Frontend Hooks
      paths:
        - apps/frontend/src/hooks/**
        - apps/frontend/src/lib/hooks/**
    - component_id: frontend_lib
      name: Frontend Libraries
      paths:
        - apps/frontend/src/lib/**
    - component_id: frontend_api
      name: Frontend API Routes
      paths:
        - apps/frontend/src/app/api/**

# GitHub Checks
github_checks:
  annotations: true

fix: admin pages scroll + responsive sidebar
  apps/frontend/src/app/(super-admin)/admin/marketing/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/agents/apollo/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/agents/artemis/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/agents/athena/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/agents/hades/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/agents/hermes/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/agents/prometheus/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/agents/zeus/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/analytics/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/experiments/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/export/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/notifications/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/retention/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/review-queue/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/segments/page.tsx
  apps/frontend/src/app/(super-admin)/admin/settings/page.tsx
  apps/frontend/src/app/(super-admin)/layout.tsx
  apps/frontend/src/components/admin/layout/admin-header.tsx
  apps/frontend/src/components/admin/layout/admin-layout-shell.tsx
Due: unittests, e2e, Frontend Components

fix: resolve React error #31 by serializing circuit breaker state to string
  apps/backend/src/modules/orion/services/fallback-llm.service.ts
  apps/frontend/src/app/(public)/pricing/hooks/usePricingPage.ts
  apps/frontend/src/app/(super-admin)/admin/orion/agents/prometheus/page.tsx
  apps/frontend/src/components/admin/layout/admin-layout-shell.tsx
Due: unittests, e2e, Frontend Components

fix: remove 'plan' field from signup body causing 400 + handle single-name users
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/components/admin/layout/admin-layout-shell.tsx
Due: unittests, e2e, Frontend Components

fix: onboarding step/1 400 and skip 400 for new users
  apps/backend/src/modules/onboarding/dto/save-step.dto.ts
  apps/backend/src/modules/onboarding/onboarding.service.ts
Due: none

fix: resolve all production warnings for zero-error deployment
  apps/backend/src/common/guards/brand-scoped.guard.ts
  apps/backend/src/common/guards/industry-config.guard.ts
  apps/backend/src/modules/analytics/controllers/analytics.controller.ts
  apps/backend/src/modules/dashboard/dashboard.controller.ts
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/app/(onboarding)/onboarding/components/IndustryCard.tsx
  apps/frontend/src/app/(onboarding)/onboarding/page.tsx
  apps/frontend/src/app/(public)/pricing/hooks/usePricingPage.ts
  apps/frontend/src/app/(super-admin)/admin/orion/agents/prometheus/page.tsx
  apps/frontend/src/components/admin/layout/admin-layout-shell.tsx
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/lib/trpc/routers/analytics.ts
  apps/frontend/src/lib/trpc/routers/team.ts
  apps/frontend/src/store/industry.store.ts
Due: unittests, e2e, Frontend Components, Frontend Libraries

fix: remove disabled prop from Slot in button.tsx to fix TS build
  apps/frontend/src/components/ui/button.tsx
Due: unittests, e2e, Frontend Components

fix: clean support page, fix invisible buttons, add i18n keys, handle 409 signup
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/support/components/SupportFeatureSections.tsx
  apps/frontend/src/app/(dashboard)/dashboard/support/components/SupportFeatureSectionsExtended.tsx
  apps/frontend/src/app/(dashboard)/dashboard/support/components/SupportPageContent.tsx
  apps/frontend/src/app/(dashboard)/dashboard/support/components/index.ts
  apps/frontend/src/app/(dashboard)/layout.tsx
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/i18n/locales/en.ts
  apps/frontend/src/i18n/locales/fr.ts
Due: unittests, e2e, Frontend Components

fix(billing): stop infinite API retry loop causing 429 rate-limits
  apps/backend/src/modules/integrations/integrations.module.ts.bak
  apps/frontend/.env.local.bak
  apps/frontend/playwright.production.config.ts
  apps/frontend/sentry.client.config.ts
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/app/(dashboard)/billing/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/billing/BillingPageClient.tsx
  apps/frontend/src/app/(dashboard)/dashboard/billing/components/CurrentPlanCard.tsx
  apps/frontend/src/app/(dashboard)/dashboard/billing/components/InvoicesSection.tsx
  apps/frontend/src/app/(dashboard)/dashboard/billing/hooks/useBilling.ts
  apps/frontend/src/app/(dashboard)/dashboard/billing/hooks/useInvoices.ts
  apps/frontend/src/app/(dashboard)/dashboard/billing/portal/page.tsx
  apps/frontend/src/app/api/try-on/performance/route.ts
  apps/frontend/src/app/api/try-on/sessions/[sessionId]/screenshots/batch/route.ts
  apps/frontend/src/app/ar/[shortCode]/page.tsx
  apps/frontend/src/app/providers.tsx
  apps/frontend/src/components/ErrorBoundary.tsx
  apps/frontend/src/i18n/locales/en.ts
  apps/frontend/src/i18n/locales/fr.ts
  apps/frontend/src/lib/hooks/useAuth.ts
  apps/frontend/src/lib/services/ProductionService.ts
  apps/frontend/src/lib/trpc/routers/ai.ts
  apps/frontend/tests/e2e/test-production-complet.spec.ts
Due: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

fix(redis): disconnect and switch to degraded mode when Upstash limit exceeded
  apps/backend/src/libs/redis/redis-optimized.service.ts
Due: none

feat(db): add flowData/flowVersion to Agent, AgentCorrection model, sync DB + seed
  apps/backend/prisma/schema.prisma
Due: none

refactor: replace all tRPC with REST API calls, archive V1 frontend code
  apps/frontend/src/_archive/v1/components/ZoneConfigurator.tsx
  apps/frontend/src/_archive/v1/hooks/useAR.ts
  apps/frontend/src/_archive/v1/hooks/useCustomization.ts
  apps/frontend/src/_archive/v1/hooks/useProduct.ts
  apps/frontend/src/_archive/v1/services/CustomizationService.ts
  apps/frontend/src/_archive/v1/services/OrderService.ts
  apps/frontend/src/_archive/v1/services/ProductService.ts
  apps/frontend/src/_archive/v1/services/__tests__/OrderService.test.ts
  apps/frontend/src/_archive/v1/services/__tests__/ProductService.test.ts
  apps/frontend/src/_archive/v1/trpc/client.ts
  apps/frontend/src/_archive/v1/trpc/routers/_app.ts
  apps/frontend/src/_archive/v1/trpc/server.ts
  apps/frontend/src/_archive/v1/trpc/vanilla-client.ts
  apps/frontend/src/app/(dashboard)/billing/page.tsx
  apps/frontend/src/app/(dashboard)/settings/page.tsx
  apps/frontend/src/app/(dashboard)/team/page.tsx
  apps/frontend/src/app/providers.tsx
  apps/frontend/src/components/integrations/IntegrationStatusBadge.tsx
  apps/frontend/src/components/notifications/NotificationCenter.tsx
  apps/frontend/src/lib/hooks/useIntegrations.ts
  apps/frontend/src/test/utils.tsx
Due: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries

refactor: align admin, billing, auth, users services to V2 Prisma schema
  apps/backend/src/modules/admin/admin.controller.ts
  apps/backend/src/modules/admin/admin.service.ts
  apps/backend/src/modules/admin/guards/super-admin.guard.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/services/oauth.service.ts
  apps/backend/src/modules/auth/services/token.service.ts
  apps/backend/src/modules/billing/billing.service.ts
  apps/backend/src/modules/users/users.service.ts
Due: none

fix(ts): remove @ts-nocheck from 4 V2 core services, fix type errors
  apps/backend/src/modules/agents/agents.service.ts
  apps/backend/src/modules/channels/channels.service.ts
  apps/backend/src/modules/conversations/conversations.service.ts
  apps/backend/src/modules/knowledge/knowledge.service.ts
Due: none

refactor: adapt guards and decorators from brand-scoped to org-scoped
  apps/backend/src/common/decorators/current-brand.decorator.ts
  apps/backend/src/common/guards/brand-scoped.guard.ts
  apps/backend/src/common/guards/roles.guard.ts
Due: none

feat(builder): install React Flow + create Block Registry with 10 MVP blocks
  apps/frontend/package.json
  apps/frontend/src/packages/block-registry/src/blocks/actions/search-knowledge.ts
  apps/frontend/src/packages/block-registry/src/blocks/actions/send-message.ts
  apps/frontend/src/packages/block-registry/src/blocks/actions/transfer-to-human.ts
  apps/frontend/src/packages/block-registry/src/blocks/ai/analyze-intent.ts
  apps/frontend/src/packages/block-registry/src/blocks/ai/extract-data.ts
  apps/frontend/src/packages/block-registry/src/blocks/ai/generate-response.ts
  apps/frontend/src/packages/block-registry/src/blocks/conditions/confidence-check.ts
  apps/frontend/src/packages/block-registry/src/blocks/conditions/if-condition.ts
  apps/frontend/src/packages/block-registry/src/blocks/triggers/message-received.ts
  apps/frontend/src/packages/block-registry/src/blocks/triggers/new-conversation.ts
  apps/frontend/src/packages/block-registry/src/components/BaseBlockNode.tsx
  apps/frontend/src/packages/block-registry/src/index.ts
  apps/frontend/src/packages/block-registry/src/types.ts
  pnpm-lock.yaml
Due: unittests, e2e

feat(builder): complete Visual Builder page with all components
  apps/frontend/src/app/(dashboard)/agents/[id]/builder/page.tsx
  apps/frontend/src/components/builder/BlocksPanel.tsx
  apps/frontend/src/components/builder/BuilderCanvas.tsx
  apps/frontend/src/components/builder/ChatTestPanel.tsx
  apps/frontend/src/components/builder/ConfigPanel.tsx
  apps/frontend/src/hooks/useAutoSave.ts
  apps/frontend/src/hooks/useBuilder.ts
Due: unittests, e2e, Frontend Components, Frontend Hooks

feat(builder): Flow Execution Engine + API endpoints for flow CRUD
  apps/backend/src/libs/flow/flow-execution-engine.ts
  apps/backend/src/modules/agents/agents.controller.ts
  apps/backend/src/modules/agents/agents.service.ts
Due: none

feat(ux): add Design System and micro-interactions (C.1)
  apps/frontend/src/components/CommandPalette.tsx
  apps/frontend/src/components/EmptyState.tsx
  apps/frontend/src/components/PageTransition.tsx
  apps/frontend/src/components/skeletons/AgentCardSkeleton.tsx
  apps/frontend/src/hooks/useKeyboardShortcuts.ts
  apps/frontend/src/lib/toast.ts
Due: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries

feat(email): complete Email Channel via SendGrid Inbound Parse (C.2)
  apps/backend/src/modules/channels/channels.module.ts
  apps/backend/src/modules/channels/email/email-inbound.service.ts
  apps/backend/src/modules/channels/email/email-outbound.service.ts
  apps/backend/src/modules/channels/email/email-parser.service.ts
  apps/backend/src/modules/channels/email/email-webhook.controller.ts
Due: none

feat(analytics): AI Insights service + dashboard card (C.3)
  apps/backend/src/modules/agent-analytics/agent-analytics.controller.ts
  apps/backend/src/modules/agent-analytics/agent-analytics.module.ts
  apps/backend/src/modules/agent-analytics/services/insights.service.ts
  apps/frontend/src/components/dashboard/InsightsCard.tsx
Due: unittests, e2e, Frontend Components

feat(learning): Agent Learning with corrections system (C.4)
  apps/backend/src/modules/agents/agents.controller.ts
  apps/backend/src/modules/agents/agents.module.ts
  apps/backend/src/modules/agents/corrections.service.ts
  apps/frontend/src/components/conversations/MessageCorrection.tsx
Due: unittests, e2e, Frontend Components

fix: resolve all 13 TypeScript build errors for production
  apps/backend/src/_archive/v1/modules/ai/controllers/ai-generations.controller.ts
  apps/backend/src/modules/admin/admin.controller.ts
  apps/backend/src/modules/ai/ai.module.ts
  apps/backend/src/modules/ai/caching/index.ts
  apps/backend/src/modules/channels/email/email-inbound.service.ts
  apps/backend/tsconfig.build.json
Due: none

fix: re-enable eslint.ignoreDuringBuilds for Vercel compatibility
  apps/frontend/next.config.mjs
Due: none

fix: align /api/public/plans to V2 features (agents, conversations, KB)
  apps/frontend/src/app/api/public/plans/route.ts
Due: unittests, e2e, Frontend API Routes

fix: add canvas-confetti type declaration for Vercel build
  apps/frontend/src/types/canvas-confetti.d.ts
Due: none

fix: add analytics-clean and web-vitals stub endpoints to eliminate 404 spam
  apps/backend/src/app.module.ts
  apps/backend/src/modules/analytics-clean/analytics-clean.controller.ts
  apps/backend/src/modules/analytics-clean/analytics-clean.module.ts
  apps/backend/src/modules/analytics-clean/web-vitals.controller.ts
Due: none

fix: agents pagination NaN + organization guard for null orgId
  apps/backend/src/modules/agents/agents.controller.ts
  apps/backend/src/modules/agents/agents.service.ts
Due: none

feat: migrate Stripe billing to V2 (Agents IA) with live price IDs
  apps/backend/src/config/configuration.ts
  apps/backend/src/modules/billing/billing.service.ts
  apps/backend/src/modules/billing/services/stripe-client.service.spec.ts
  apps/backend/src/modules/billing/services/stripe-client.service.ts
Due: none

chore: bump buildid to trigger Railway deployment
  .buildid
Due: none

fix: stabilize admin auth and production UX flows
  apps/backend/src/modules/auth/strategies/github.strategy.ts
  apps/backend/src/modules/auth/strategies/google.strategy.ts
  apps/backend/src/modules/conversations/dto/conversation-query.dto.ts
  apps/frontend/middleware.ts
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/app/(dashboard)/agents/new/page.tsx
  apps/frontend/src/app/(dashboard)/agents/page.tsx
  apps/frontend/src/app/(dashboard)/conversations/page.tsx
  apps/frontend/src/app/(dashboard)/layout.tsx
  apps/frontend/src/app/(dashboard)/overview/page.tsx
  apps/frontend/src/app/(onboarding)/loading.tsx
  apps/frontend/src/app/(public)/about/layout.tsx
  apps/frontend/src/app/(public)/about/page.tsx
  apps/frontend/src/app/(public)/careers/layout.tsx
  apps/frontend/src/app/(public)/careers/page.tsx
  apps/frontend/src/app/(public)/contact/layout.tsx
  apps/frontend/src/app/(public)/contact/page.tsx
  apps/frontend/src/app/(public)/page.tsx
  apps/frontend/src/app/(public)/pricing/data.ts
  apps/frontend/src/app/api/v1/auth/refresh/route.ts
  apps/frontend/src/components/admin/layout/admin-guard.tsx
  apps/frontend/src/components/marketing/home/AgentDemoShowcase.tsx
  apps/frontend/src/components/marketing/home/CTASectionNew.tsx
  apps/frontend/src/components/marketing/home/ConversionNarrativeSection.tsx
  apps/frontend/src/components/marketing/home/FeaturesSectionNew.tsx
  apps/frontend/src/components/marketing/home/HeroSectionNew.tsx
  apps/frontend/src/components/marketing/home/HowItWorksNew.tsx
  apps/frontend/src/components/marketing/home/PricingSectionNew.tsx
  apps/frontend/src/components/marketing/home/SocialProofSection.tsx
  apps/frontend/src/components/marketing/home/index.ts
  apps/frontend/src/hooks/useAuth.tsx
  apps/frontend/src/i18n/locales/en.ts
  apps/frontend/src/i18n/locales/fr.ts
  apps/frontend/src/lib/admin/permissions.ts
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/api/normalize.ts
  apps/frontend/src/lib/auth/get-user.ts
  apps/frontend/src/lib/auth/session-client.ts
  apps/frontend/src/styles/fixes.css
Due: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

fix: restore marketing automations actions and edit flow
  apps/frontend/src/app/(super-admin)/admin/marketing/automations/[id]/edit/page.tsx
  apps/frontend/src/app/(super-admin)/admin/marketing/automations/page.tsx
  apps/frontend/src/app/api/admin/marketing/automations/test/route.ts
  apps/frontend/src/components/admin/marketing/automation-builder.tsx
  apps/frontend/src/components/admin/marketing/automations-list.tsx
Due: unittests, e2e, Frontend Components, Frontend API Routes
