Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

fix: handle wrapped /auth/me response format in server & client auth
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/app/(super-admin)/layout.tsx
  apps/frontend/src/app/api/admin/tenants/route.ts
  apps/frontend/src/hooks/useAuth.tsx
  apps/frontend/src/lib/admin/permissions.ts
  apps/frontend/src/lib/auth/get-user.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries, Frontend API Routes

chore: add temporary debug route for server-side auth diagnosis
  apps/frontend/src/app/api/debug/auth/route.ts
Due: unittests, e2e, Frontend API Routes

chore: add debug page at /debug-auth for server-side auth diagnosis
  apps/frontend/src/app/debug-auth/page.tsx
Due: unittests, e2e

chore: remove temporary debug routes after fixing admin auth
  apps/frontend/src/app/api/debug/auth/route.ts
  apps/frontend/src/app/debug-auth/page.tsx
Due: unittests, e2e, Frontend API Routes

fix: route auth calls through Vercel proxy to fix cross-origin cookie storage
  apps/frontend/src/app/(auth)/callback/page.tsx
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/components/dashboard/Header.tsx
  apps/frontend/src/hooks/useAuth.tsx
  apps/frontend/src/lib/api/client.ts
Due: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries

fix: comprehensive admin auth fixes (CDN cache, cookie verification, domain bug)
  apps/backend/src/modules/auth/auth-cookies.helper.ts
  apps/frontend/middleware.ts
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/app/admin-check/page.tsx
Due: unittests, e2e

chore: sync pnpm-lock.yaml with updated package.json dependencies
  pnpm-lock.yaml
Due: none

fix: resolve CI/CD pipeline failures - eslint config and lockfile sync
  apps/backend/.eslintrc.js
  apps/backend/tsconfig.eslint.json
Due: none

fix: CI test runner - use --passWithNoTests instead of --testPathPattern=unit
  .github/workflows/deploy-production.yml
Due: none

fix: CI use pnpm exec jest directly to avoid arg forwarding issue
  .github/workflows/deploy-production.yml
Due: none

fix: CI allow test step to continue on failure for initial deployment
  .github/workflows/deploy-production.yml
Due: none

fix: resolve production blockers - route conflict, otel dep, editor casts
  apps/backend/package.json
  apps/backend/src/modules/editor/editor.controller.ts
  apps/frontend/src/app/(public)/w/[brandSlug]/[productId]/page.tsx
  pnpm-lock.yaml
Due: unittests, e2e

fix: add HttpModule and ConfigModule to LODModule for DI resolution
  apps/backend/src/libs/3d/lod.module.ts
  railway.toml
Due: none

fix: add HttpModule to VariantModule and RenderModule for DI resolution
  apps/backend/src/libs/3d/variant.module.ts
  apps/backend/src/modules/render/render.module.ts
Due: none

fix: add ReferralModule to BillingModule and CreditsModule to DesignsModule
  apps/backend/src/modules/billing/billing.module.ts
  apps/backend/src/modules/designs/designs.module.ts
Due: none

fix: resolve DI issues in PublicApi, Specs, and Snapshots modules
  apps/backend/src/modules/public-api/public-api.module.ts
  apps/backend/src/modules/snapshots/snapshots.module.ts
  apps/backend/src/modules/specs/specs.module.ts
Due: none

fix: register EnterpriseModule and extend TrackEventDto for production
  apps/backend/prisma/_migrations_archive/README_INDEXES.md
  apps/backend/prisma/_migrations_archive/add_2fa_and_indexes/migration.sql
  apps/backend/prisma/_migrations_archive/add_composite_indexes.sql
  apps/backend/prisma/_migrations_archive/add_credits_system.sql
  apps/backend/prisma/_migrations_archive/add_credits_system_FIXED.sql
  apps/backend/prisma/_migrations_archive/add_lot4_lot6_models/migration.sql
  apps/backend/prisma/_migrations_archive/add_marketplace_community/migration.sql
  apps/backend/prisma/_migrations_archive/add_marketplace_models/migration.sql
  apps/backend/prisma/_migrations_archive/add_rls_and_outbox/migration.sql
  apps/backend/prisma/_migrations_archive/add_vector_store/migration.sql
  apps/backend/src/app.module.ts
  apps/backend/src/modules/analytics/dto/track-event.dto.ts
Due: none

fix: move prisma to prod deps and generate client in Docker production stage
  Dockerfile
  apps/backend/package.json
  pnpm-lock.yaml
Due: none

chore: bust Docker cache for Prisma Client fix deployment
  Dockerfile
Due: none

fix: move cleanup before USER nestjs to fix /tmp permission denied in Docker build
  Dockerfile
Due: none

fix: use Node.js import check for Prisma Client verification in Docker
  Dockerfile
Due: none

fix: force Docker cache invalidation for production pnpm install
  Dockerfile
Due: none

fix: add .buildid file to force Docker layer cache invalidation on Railway
  .buildid
  Dockerfile
Due: none

fix: remove post-cleanup Prisma check that fails from monorepo root
  .buildid
  Dockerfile
Due: none

fix: repair orion DB schema + add missing demo pages
  apps/backend/prisma/migrations/20260214000000_repair_orion_schema/migration.sql
  apps/frontend/src/app/(public)/demo/ai-agents/page.tsx
  apps/frontend/src/app/(public)/demo/analytics/page.tsx
  apps/frontend/src/app/(public)/demo/ar-experience/page.tsx
Due: unittests, e2e

fix: complete SaaS audit corrections — security, billing, RBAC, rate limiting
  .github/workflows/deploy-production.yml
  .gitignore
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/common/guards/global-rate-limit.guard.ts
  apps/backend/src/jobs/dlq/dlq.controller.ts
  apps/backend/src/libs/plans/plan-config.ts
  apps/backend/src/main.ts
  apps/backend/src/modules/admin/admin.controller.ts
  apps/backend/src/modules/admin/admin.service.ts
  apps/backend/src/modules/ai/ai.controller.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/dto/signup.dto.ts
  apps/backend/src/modules/auth/services/brute-force.service.ts
  apps/backend/src/modules/auth/services/sso-enterprise.service.ts
  apps/backend/src/modules/auth/services/token.service.ts
  apps/backend/src/modules/billing/billing.controller.ts
  apps/backend/src/modules/billing/billing.service.ts
  apps/backend/src/modules/cache/services/cache-warming.service.ts
  apps/backend/src/modules/credits/credits.controller.ts
  apps/backend/src/modules/generation/generation.processor.ts
  apps/backend/src/modules/generation/generation.service.ts
  apps/backend/src/modules/plans/plans.controller.ts
  apps/backend/src/modules/products/products.controller.ts
  apps/backend/src/modules/products/products.service.spec.ts
  apps/backend/src/modules/products/products.service.ts
  apps/backend/src/modules/security/services/rbac.service.ts
  apps/backend/src/modules/try-on/controllers/try-on.controller.ts
  apps/backend/src/modules/try-on/services/try-on-configuration.service.ts
  apps/backend/src/modules/usage-billing/services/usage-metering.service.ts
  apps/frontend/middleware.ts
  apps/frontend/src/app/(dashboard)/dashboard/billing/constants/plans.ts
  apps/frontend/src/app/api/admin/analytics/correlation/route.ts
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/hooks/useDashboardData.ts
  apps/frontend/src/lib/hooks/useProfile.ts
  apps/frontend/src/lib/pricing-constants.ts
  apps/frontend/src/lib/rbac.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries, Frontend API Routes

fix: critical business logic — downgrade timing, product IDOR vulnerabilities
  apps/backend/src/modules/billing/billing.service.ts
  apps/backend/src/modules/products/products.controller.ts
  apps/backend/src/modules/products/products.service.ts
Due: none

fix: complete remaining security & consistency corrections
  apps/backend/src/modules/billing/services/stripe-webhook.service.ts
  apps/backend/src/modules/public-api/webhooks/webhooks.controller.ts
  apps/backend/src/modules/public-api/webhooks/webhooks.service.ts
  apps/backend/src/modules/security/services/rbac.service.ts
  apps/backend/src/modules/try-on/controllers/try-on.controller.ts
  apps/backend/src/modules/try-on/services/try-on-configuration.service.ts
  apps/backend/src/modules/try-on/services/try-on-screenshot.service.ts
  apps/backend/src/modules/try-on/services/try-on-session.service.ts
  apps/backend/src/modules/usage-billing/services/usage-metering.service.ts
Due: none

fix: comprehensive business logic audit — 13 corrections across all verticals
  apps/backend/src/modules/ai/controllers/ai-generations.controller.ts
  apps/backend/src/modules/analytics/controllers/analytics.controller.ts
  apps/backend/src/modules/analytics/services/analytics.service.ts
  apps/backend/src/modules/auth/dto/reset-password.dto.ts
  apps/backend/src/modules/auth/services/oauth.service.ts
  apps/backend/src/modules/auth/services/token.service.ts
  apps/backend/src/modules/billing/services/stripe-webhook.service.ts
  apps/backend/src/modules/email/email.service.ts
  apps/backend/src/modules/notifications/notifications.controller.ts
  apps/backend/src/modules/notifications/notifications.service.ts
  apps/backend/src/modules/orders/orders.service.ts
  apps/backend/src/modules/products/dto/create-product.dto.ts
  apps/backend/src/modules/products/products.service.ts
  apps/backend/src/modules/projects/controllers/projects.controller.ts
  apps/backend/src/modules/team/team.service.ts
  apps/backend/src/modules/users/dto/change-password.dto.ts
  apps/backend/src/modules/users/users.service.ts
Due: none

chore: bump buildid for mega-audit deployment
  .buildid
Due: none

fix: resolve failed Prisma migration, add missing API routes and favicon
  apps/backend/prisma/migrations/20260214000000_repair_orion_schema/migration.sql
  apps/backend/prisma/migrations/20260214100000_fix_schema_add_models/migration.sql
  apps/frontend/public/favicon.svg
  apps/frontend/src/app/api/admin/orion/metrics/kpis/route.ts
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/lib/hooks/useMarketingData.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries, Frontend API Routes

feat: audit complet - supprimer tous les Coming Soon, implémenter les fonctionnalités manquantes
  apps/backend/src/modules/analytics/analytics.module.ts
  apps/backend/src/modules/ecommerce/ecommerce.controller.ts
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/3d/components/ExportDialog.tsx
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/3d/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/ar-studio/integrations/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/integrations/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/white-label/WhiteLabelPageClient.tsx
  apps/frontend/src/app/(public)/solutions/analytics/page.tsx
  apps/frontend/src/app/(super-admin)/admin/marketing/automations/new/page.tsx
  apps/frontend/src/app/(super-admin)/admin/webhooks/new/page.tsx
  apps/frontend/src/lib/admin/integrations/google-ads.ts
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/trpc/routers/integration.ts
Due: unittests, e2e, Frontend Libraries

fix: PLATFORM_ADMIN bypass pour guards et services sans brandId
  apps/backend/prisma/migrations/20260215000000_add_ticket_csat_fields/migration.sql
  apps/backend/src/common/guards/industry-config.guard.ts
  apps/backend/src/common/guards/onboarding.guard.ts
  apps/backend/src/modules/ai/controllers/ai-generations.controller.ts
  apps/backend/src/modules/ai/controllers/ai-templates.controller.ts
  apps/backend/src/modules/analytics/controllers/analytics-advanced.controller.ts
  apps/backend/src/modules/analytics/controllers/analytics.controller.ts
  apps/backend/src/modules/ar/ar-studio.controller.ts
  apps/backend/src/modules/ar/controllers/ar-collaboration.controller.ts
  apps/backend/src/modules/ar/controllers/ar-integrations.controller.ts
  apps/backend/src/modules/ar/controllers/ar-projects.controller.ts
  apps/backend/src/modules/asset-hub/controllers/asset-hub.controller.ts
  apps/backend/src/modules/collaboration/collaboration.controller.ts
  apps/backend/src/modules/customization/customization.controller.ts
  apps/backend/src/modules/dashboard/dashboard.service.ts
  apps/backend/src/modules/editor/editor.controller.ts
  apps/backend/src/modules/marketplace/marketplace.controller.ts
Due: none

fix: corriger Try-On 403, Configurator 3D 500, Editor 404
  apps/backend/src/app.module.ts
  apps/backend/src/modules/configurator-3d/controllers/configurator-3d.controller.ts
  apps/backend/src/modules/try-on/controllers/try-on.controller.ts
  apps/backend/src/modules/try-on/services/try-on-configuration.service.ts
Due: none

Path conditions:
  unittests: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  e2e: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Components: any of: apps/frontend/src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Hooks: any of: apps/frontend/src/hooks/**, apps/frontend/src/lib/hooks/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Libraries: any of: apps/frontend/src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend API Routes: any of: apps/frontend/src/app/api/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
