Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

codecov.yml:

# Codecov Configuration
# T-005: Int√©grer Codecov pour rapports de couverture

# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        # Overall project coverage target
        target: 70%
        threshold: 2%
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        # Coverage on changed lines in PR
        target: 80%
        threshold: 5%
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches:
    - main
    - develop
    - staging

flags:
  unittests:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1
  
  e2e:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/*.d.ts"
  - "**/types/**"
  - "**/config/**"
  - "**/scripts/**"

# Component Management (shows coverage per component)
component_management:
  individual_components:
    - component_id: frontend_components
      name: Frontend Components
      paths:
        - apps/frontend/src/components/**
    - component_id: frontend_hooks
      name: Frontend Hooks
      paths:
        - apps/frontend/src/hooks/**
        - apps/frontend/src/lib/hooks/**
    - component_id: frontend_lib
      name: Frontend Libraries
      paths:
        - apps/frontend/src/lib/**
    - component_id: frontend_api
      name: Frontend API Routes
      paths:
        - apps/frontend/src/app/api/**

# GitHub Checks
github_checks:
  annotations: true

Complete AWS removal: renamed S3Service to StorageService, deleted Terraform config, removed AWS docs
  AWS_SUPPRESSION_COMPLETE.md
Due: none

feat: Module bracelet complet + améliorations professionnelles
  apps/frontend/IMPROVEMENTS_SUMMARY.md
  apps/frontend/README_BRACELET_MODULE.md
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/app/(dashboard)/analytics/page.tsx
  apps/frontend/src/app/(dashboard)/bracelet/customize/page.tsx
  apps/frontend/src/app/api/bracelet/customizations/route.ts
  apps/frontend/src/app/api/bracelet/models/route.ts
  apps/frontend/src/app/api/bracelet/render/route.ts
  apps/frontend/src/components/bracelet/Bracelet2DPreview.tsx
  apps/frontend/src/components/bracelet/Bracelet3DViewer.tsx
  apps/frontend/src/components/bracelet/BraceletARViewer.tsx
  apps/frontend/src/lib/bracelet/texture-generator.ts
Due: unittests, e2e, Frontend Components, Frontend Libraries, Frontend API Routes

Fix React Server Components CVE vulnerabilities
  apps/frontend/package.json
  apps/shopify/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat: optimize Vercel deployment to reduce build time from 45min to <10min
  apps/backend/.npmrc
  apps/backend/.vercelignore
  apps/backend/VERCEL_DEPLOYMENT_AUDIT.md
  apps/backend/VERCEL_DEPLOYMENT_GUIDE_OPTIMIZED.md
  apps/backend/VERCEL_INDEX.md
  apps/backend/VERCEL_OPTIMIZATIONS_SUMMARY.md
  apps/backend/VERCEL_QUICK_START.md
  apps/backend/nest-cli.json
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/backend/scripts/validate-vercel-optimizations.sh
  apps/backend/scripts/vercel-build-optimized.sh
  apps/backend/src/app.serverless.module.ts
  apps/backend/src/serverless.ts
  apps/backend/tsconfig.build.json
  apps/backend/vercel.json
Due: none

fix: update Next.js to secure version and optimize package setup
  apps/frontend/package.json
  apps/frontend/scripts/setup-local-packages.sh
  apps/frontend/vercel.json
Due: none

fix: use Next.js 16.0.0 stable and improve package setup
  apps/frontend/package.json
  apps/frontend/scripts/setup-local-packages.sh
  apps/frontend/vercel.json
Due: none

fix: use Next.js 15.1.6 stable and add shamefully-hoist
  apps/frontend/package.json
  apps/frontend/scripts/setup-local-packages.sh
  apps/frontend/vercel.json
Due: none

fix: improve setup script with proper directory handling
  apps/frontend/package.json
  apps/frontend/scripts/setup-local-packages.sh
  apps/frontend/vercel.json
Due: none

fix: simplify Vercel installCommand - remove corepack
  apps/frontend/scripts/setup-local-packages.sh
Due: none

fix: final simplify Vercel configuration
  apps/frontend/vercel.json
Due: none

fix: install pnpm globally in installCommand
  apps/frontend/vercel.json
Due: none

fix: add packageManager to root package.json
  apps/frontend/vercel.json
  package.json
Due: none

fix: remove installCommand and update .npmrc
  apps/frontend/.npmrc
  apps/frontend/vercel.json
  package.json
Due: none

fix: improve setup script error handling
  apps/frontend/.npmrc
  apps/frontend/scripts/setup-local-packages.sh
  apps/frontend/vercel.json
Due: none

fix: add missing root page.tsx
  apps/frontend/scripts/setup-local-packages.sh
  apps/frontend/src/app/page.tsx
Due: unittests, e2e

chore: trigger Vercel deployment
  apps/frontend/.vercel-deploy-trigger
  apps/frontend/src/app/page.tsx
Due: unittests, e2e

chore: force full frontend rebuild
  apps/frontend/.force-rebuild
  apps/frontend/.vercel-deploy-trigger
Due: none

chore: optimize build command for complete rebuild
  apps/frontend/.force-rebuild
  apps/frontend/vercel.json
Due: none

fix: revert build command to standard
  apps/frontend/vercel.json
Due: none

fix: ensure script is executable in buildCommand
  apps/frontend/vercel.json
Due: none

fix: simplify buildCommand
  apps/frontend/vercel.json
Due: none

fix: improve setup-local-packages script and build command
  apps/frontend/scripts/setup-local-packages.sh
  apps/frontend/vercel.json
Due: none

fix: add installCommand to vercel.json for successful deployment
  apps/frontend/GUIDE_DEPLOIEMENT_VERCEL.md
  apps/frontend/scripts/setup-local-packages.sh
  apps/frontend/vercel.json
Due: none

chore: trigger Vercel deployment
  apps/frontend/.deploy-trigger
  apps/frontend/GUIDE_DEPLOIEMENT_VERCEL.md
  apps/frontend/vercel.json
Due: none

docs: add guide to disable Vercel deployment protection
  GUIDE_DESACTIVER_PROTECTION_VERCEL.md
  SOLUTION_404_VERCEL.md
  apps/frontend/.deploy-trigger
Due: none

docs: add instructions to disable Vercel Authentication
  GUIDE_DESACTIVER_PROTECTION_VERCEL.md
  INSTRUCTIONS_DESACTIVER_PROTECTION.md
  SOLUTION_404_VERCEL.md
Due: none

fix: improve root page export for Next.js routing
  INSTRUCTIONS_DESACTIVER_PROTECTION.md
  apps/frontend/src/app/page.tsx
Due: unittests, e2e

fix: create complete root page component
  apps/frontend/src/app/page.tsx
Due: unittests, e2e

fix: simplify root page to re-export
  apps/frontend/src/app/page.tsx
Due: unittests, e2e

fix: correct root page import and remove problematic outputFileTracingRoot
  apps/frontend/next.config.mjs
  apps/frontend/src/app/page.tsx
Due: unittests, e2e

fix: ensure root page is properly exported
  apps/frontend/next.config.mjs
Due: none

docs: add comprehensive audit reports
  AUDIT_COMPLET_PROBLEMES.md
  RAPPORT_COMPLET_FINAL.md
  RAPPORT_FINAL_AUDIT.md
  SOLUTION_FINALE_CONFLIT_ROUTES.md
  apps/frontend/src/app/page.tsx
Due: unittests, e2e

chore: force complete rebuild
  AUDIT_COMPLET_PROBLEMES.md
  RAPPORT_COMPLET_FINAL.md
  RAPPORT_FINAL_AUDIT.md
  SOLUTION_FINALE_CONFLIT_ROUTES.md
  apps/frontend/.force-rebuild
Due: none

fix: add devCommand to vercel.json
  apps/frontend/.force-rebuild
  apps/frontend/GUIDE_DEPLOIEMENT_VERCEL.md
  apps/frontend/vercel.json
Due: none

feat: add script to fix Vercel settings via API
  apps/frontend/GUIDE_DEPLOIEMENT_VERCEL.md
  apps/frontend/scripts/fix-vercel-settings.js
  apps/frontend/vercel.json
Due: none

fix: Correction erreurs TypeScript et Redis Railway
  apps/backend/CORRECTION_REDIS_RAILWAY.md
  apps/backend/src/libs/redis/redis-optimized.service.ts
  apps/frontend/src/app/(dashboard)/analytics/page.tsx
Due: unittests, e2e

fix: Correction erreur loadModels dans ar-studio
  apps/frontend/src/app/(dashboard)/ar-studio/page.tsx
Due: unittests, e2e
