Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

codecov.yml:

# Codecov Configuration
# T-005: Int√©grer Codecov pour rapports de couverture

# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        # Overall project coverage target
        target: 70%
        threshold: 2%
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        # Coverage on changed lines in PR
        target: 80%
        threshold: 5%
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches:
    - main
    - develop
    - staging

flags:
  unittests:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1
  
  e2e:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/*.d.ts"
  - "**/types/**"
  - "**/config/**"
  - "**/scripts/**"

# Component Management (shows coverage per component)
component_management:
  individual_components:
    - component_id: frontend_components
      name: Frontend Components
      paths:
        - apps/frontend/src/components/**
    - component_id: frontend_hooks
      name: Frontend Hooks
      paths:
        - apps/frontend/src/hooks/**
        - apps/frontend/src/lib/hooks/**
    - component_id: frontend_lib
      name: Frontend Libraries
      paths:
        - apps/frontend/src/lib/**
    - component_id: frontend_api
      name: Frontend API Routes
      paths:
        - apps/frontend/src/app/api/**

# GitHub Checks
github_checks:
  annotations: true

fix: corrections Analytics (imports, LineChart data format)
  apps/frontend/src/app/(dashboard)/dashboard/analytics/page.tsx
  apps/frontend/src/lib/trpc/routers/_app.ts
Due: unittests, e2e, Frontend Libraries

feat: page Team complète niveau entreprise mondiale (1,500+ lignes)
  apps/frontend/src/app/(dashboard)/dashboard/team/page.tsx
Due: unittests, e2e

feat: page Billing complète niveau entreprise mondiale (2,000+ lignes)
  apps/frontend/src/app/(dashboard)/dashboard/billing/page.tsx
Due: unittests, e2e

feat: page Settings complète niveau entreprise mondiale (1,800+ lignes)
  apps/frontend/src/app/(dashboard)/dashboard/settings/page.tsx
  apps/frontend/src/lib/trpc/routers/profile-extended.ts
  apps/frontend/src/lib/trpc/routers/profile.ts
Due: unittests, e2e, Frontend Libraries

fix: corrections Settings (profile router, imports)
  apps/frontend/src/lib/trpc/routers/profile-extended.ts
Due: unittests, e2e, Frontend Libraries

fix: ajout routes manquantes profile router (sessions, API keys, webhooks, notifications)
  apps/frontend/src/app/(dashboard)/dashboard/settings/page.tsx
  apps/frontend/src/lib/trpc/routers/profile.ts
Due: unittests, e2e, Frontend Libraries

fix: correction updatePassword dans profile router
  apps/frontend/src/lib/trpc/routers/profile.ts
Due: unittests, e2e, Frontend Libraries

feat: page AI Studio complète niveau entreprise mondiale (2,500+ lignes)
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/page.tsx
Due: unittests, e2e

feat: page AR Studio complète niveau entreprise mondiale (2,000+ lignes)
  apps/frontend/src/app/(dashboard)/dashboard/ar-studio/page.tsx
Due: unittests, e2e

feat: ajouter méthodes tRPC manquantes pour AR Studio
  apps/frontend/src/lib/trpc/routers/ar.ts
Due: unittests, e2e, Frontend Libraries

feat: page Integrations Dashboard complète niveau entreprise mondiale (1,279 lignes)
  apps/frontend/src/app/(dashboard)/dashboard/integrations-dashboard/page.tsx
Due: unittests, e2e

feat: ajouter méthode getAnalytics au router integration
  apps/frontend/src/lib/trpc/routers/integration.ts
Due: unittests, e2e, Frontend Libraries

feat: page Notifications complète niveau entreprise mondiale (1,296 lignes)
  apps/frontend/src/app/(dashboard)/notifications/page.tsx
Due: unittests, e2e

fix: Add /health endpoint before global prefix for Railway
  apps/backend/src/main.ts
Due: none

fix: Use Express instance directly for /health endpoint
  apps/backend/src/main.ts
Due: none

fix: Register /health endpoint before middleware and update Railway healthcheck path
  apps/backend/railway.toml
  apps/backend/src/main.ts
Due: none

fix: Use app.use() middleware for /health endpoint to intercept before NestJS routing
  apps/backend/src/main.ts
Due: none

fix: Create Express server first and register /health before NestJS adapter
  apps/backend/src/main.ts
Due: none

fix: Exclude /health from global prefix and use HealthController
  apps/backend/src/modules/health/health.controller.ts
Due: none

fix: Use server.all() for /health and exclude from global prefix
  apps/backend/src/main.ts
Due: none

fix: Use Express middleware with path check to intercept /health before NestJS
  apps/backend/src/main.ts
Due: none

fix: Register /health on Express instance after NestJS init
  apps/backend/src/main.ts
Due: none

fix: Simplify health endpoint - use app.use() before global prefix
  apps/backend/src/main.ts
Due: none

fix: Register /health on Express router directly after NestJS setup
  apps/backend/src/main.ts
Due: none

fix: Use HealthController with @Controller('health') and @Get() for direct /health access
  apps/backend/src/modules/health/health.controller.ts
Due: none

fix: Use /api/v1/health for Railway health check - HealthController accessible with global prefix
  apps/backend/railway.toml
  apps/backend/src/modules/health/health.controller.ts
Due: none

fix: Clean up main.ts - remove manual Express endpoints, use HealthController with global prefix
  apps/backend/src/main.ts
Due: none

fix: Create separate health check server on different port for Railway
  apps/backend/src/health-server.ts
  apps/backend/src/main.ts
Due: none

fix: Revert railway.toml to /health - using separate health server
  apps/backend/railway.toml
Due: none

feat: Professional health check solution using ExpressAdapter pattern
  apps/backend/src/health-server.ts
  apps/backend/src/main.ts
Due: none

fix: Use app.listen() instead of server.listen() for proper NestJS integration
  apps/backend/src/main.ts
Due: none

fix: Register /health endpoint after app.init() by inserting into Express router stack
  apps/backend/src/main.ts
Due: none

fix: Use app.getHttpAdapter().get() for /health endpoint - professional pattern from serverless.ts
  apps/backend/src/main.ts
Due: none

fix: Register /health endpoint BEFORE setGlobalPrefix to avoid prefix interference
  apps/backend/src/main.ts
Due: none

fix: Use HealthController at /api/v1/health for Railway - professional solution
  apps/backend/railway.toml
  apps/backend/src/main.ts
Due: none

fix: Exclude health from global prefix - HealthController accessible at /health
  apps/backend/railway.toml
  apps/backend/src/main.ts
  apps/backend/src/modules/health/health.controller.ts
Due: none

fix: Use @Controller('health') with @Get() and exclude '/health' from global prefix
  apps/backend/src/main.ts
  apps/backend/src/modules/health/health.controller.ts
Due: none

fix: Register /health on Express server BEFORE NestJS creation - final solution
  apps/backend/src/main.ts
Due: none

fix: Add Express middleware for /health after app.init() to intercept before NestJS routing
  apps/backend/src/main.ts
Due: none

fix: Use HealthController at /api/v1/health - configure Railway to use it
  apps/backend/railway.toml
  apps/backend/src/main.ts
  apps/backend/src/modules/health/health.controller.ts
Due: none
