Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

fix: Type de retour canActivate pour JwtAuthGuard
  apps/backend/src/common/guards/jwt-auth.guard.ts
Due: none

fix: Désactiver temporairement modules avec modèles Prisma manquants
  apps/backend/src/app.module.ts
Due: none

fix: Utiliser import statique au lieu de require() dans RolesGuard
  apps/backend/src/common/guards/roles.guard.ts
Due: none

fix: Utiliser chemin relatif au lieu d'alias @/ dans RolesGuard
  apps/backend/src/common/guards/roles.guard.ts
Due: none

fix: Définir IS_PUBLIC_KEY directement dans RolesGuard pour éviter problèmes d'import
  apps/backend/src/common/guards/roles.guard.ts
Due: none

fix: Exclure modules avec modèles Prisma manquants de la compilation TypeScript
  apps/backend/tsconfig.build.json
Due: none

fix: Ajouter timeout sur requêtes Redis dans brute-force pour éviter timeout login
  apps/backend/src/modules/auth/services/brute-force.service.ts
Due: none

fix: Ajouter timeouts sur toutes les opérations Redis brute-force pour éviter timeout login
  apps/backend/src/modules/auth/services/brute-force.service.ts
Due: none

fix: Ajouter timeouts sur toutes les opérations Redis dans rate-limit pour éviter timeout login
  apps/backend/src/libs/rate-limit/rate-limit.guard.ts
  apps/backend/src/libs/rate-limit/sliding-window.service.ts
Due: none

fix: Désactiver complètement rate limiting et brute force pour login pour éviter timeout
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
Due: none

fix: Désactiver GlobalRateLimitGuard pour login pour éviter timeout Redis
  apps/backend/src/common/guards/global-rate-limit.guard.ts
Due: none

fix: Corriger constructeur GlobalRateLimitGuard pour ThrottlerGuard
  apps/backend/src/common/guards/global-rate-limit.guard.ts
Due: none

fix: Utiliser reflector de la classe parente ThrottlerGuard
  apps/backend/src/common/guards/global-rate-limit.guard.ts
Due: none

fix: Exclure modules agents avec modèles Prisma manquants de la compilation
  apps/backend/tsconfig.build.json
Due: none

fix: Corriger getServerUser() pour utiliser JWT backend au lieu de Supabase - Résout problème accès pages admin
  apps/frontend/src/app/api/auth/me/route.ts
  apps/frontend/src/lib/admin/permissions.ts
  apps/frontend/src/lib/auth/get-user.ts
Due: unittests, e2e, Frontend Libraries, Frontend API Routes

fix: Améliorer API route /api/auth/me pour déploiement Vercel
  apps/frontend/src/app/api/auth/me/route.ts
  apps/frontend/src/lib/auth/get-user.ts
Due: unittests, e2e, Frontend Libraries, Frontend API Routes

fix: Simplifier getServerUser pour utiliser URL relative sur Vercel
  apps/frontend/src/lib/auth/get-user.ts
  scripts/deploy-vercel.sh
Due: unittests, e2e, Frontend Libraries

fix: Remove prisma generate from Vercel build command (frontend only)
  vercel.json
Due: none

fix: Add missing frontend modules for Vercel build
  .cursorignore
  apps/frontend/src/app/(super-admin)/admin/ads/tiktok/page.tsx
  apps/frontend/src/components/ui/error-display.tsx
  apps/frontend/src/hooks/use-analytics.ts
  apps/frontend/src/lib/auth/assert-ownership.ts
  apps/frontend/src/lib/validations/api-schemas.ts
Due: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries

fix: Add missing auth modules and fix Supabase imports
  apps/frontend/src/lib/api/server.ts
  apps/frontend/src/lib/auth/assert-ownership.ts
  apps/frontend/src/lib/auth/get-user.ts
  apps/frontend/src/lib/auth/require-auth-api.ts
Due: unittests, e2e, Frontend Libraries

fix: Add KPISkeleton and ChartSkeleton to skeleton component
  apps/frontend/src/components/ui/skeleton.tsx
Due: unittests, e2e, Frontend Components

fix: Use correct property name for TopEvent in analytics page
  apps/frontend/src/app/(dashboard)/analytics/page.tsx
Due: unittests, e2e

fix: Pass correct parameters to exportAnalytics
  apps/frontend/src/app/(dashboard)/analytics/page.tsx
Due: unittests, e2e

fix: Remove invalid variant prop from ErrorDisplay
  apps/frontend/src/app/(dashboard)/analytics/page.tsx
Due: unittests, e2e

fix: Add totalEvents to AnalyticsMetrics interface
  apps/frontend/src/hooks/use-analytics.ts
Due: unittests, e2e, Frontend Hooks

fix: Add pageViews and conversions to AnalyticsMetrics interface
  apps/frontend/src/hooks/use-analytics.ts
Due: unittests, e2e, Frontend Hooks

fix: Remove all invalid variant props from ErrorDisplay
  apps/frontend/src/app/(dashboard)/analytics/page.tsx
Due: unittests, e2e

fix: Add missing AI Studio 3D types file
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/3d/types.ts
Due: unittests, e2e

fix: Update AI Studio types to match hook usage
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/3d/types.ts
Due: unittests, e2e

fix: Update GenerationTemplate interface to match usage
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/3d/types.ts
Due: unittests, e2e

fix: Add prompt and tags to GeneratedModel interface
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/3d/types.ts
Due: unittests, e2e

fix: Allow createdAt to accept Date, number or string
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/3d/types.ts
Due: unittests, e2e

fix: Rename thumbnailUrl to thumbnail in GeneratedModel
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/3d/types.ts
Due: unittests, e2e

fix: Add resolution and extended metadata to GeneratedModel
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/3d/types.ts
Due: unittests, e2e

fix: Add missing credits types file
  apps/frontend/src/app/(dashboard)/dashboard/credits/types.ts
Due: unittests, e2e

fix: Update credits types to match hook usage
  apps/frontend/src/app/(dashboard)/dashboard/credits/types.ts
Due: unittests, e2e

fix: Update CreditTransaction interface to match hook
  apps/frontend/src/app/(dashboard)/dashboard/credits/types.ts
Due: unittests, e2e

fix: Change createdAt to Date type in CreditTransaction
  apps/frontend/src/app/(dashboard)/dashboard/credits/types.ts
Due: unittests, e2e

Path conditions:
  unittests: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  e2e: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Components: any of: apps/frontend/src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Hooks: any of: apps/frontend/src/hooks/**, apps/frontend/src/lib/hooks/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Libraries: any of: apps/frontend/src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend API Routes: any of: apps/frontend/src/app/api/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
