Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

codecov.yml:

# Codecov Configuration
# T-005: Int√©grer Codecov pour rapports de couverture

# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        # Overall project coverage target
        target: 70%
        threshold: 2%
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        # Coverage on changed lines in PR
        target: 80%
        threshold: 5%
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches:
    - main
    - develop
    - staging

flags:
  unittests:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1
  
  e2e:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/*.d.ts"
  - "**/types/**"
  - "**/config/**"
  - "**/scripts/**"

# Component Management (shows coverage per component)
component_management:
  individual_components:
    - component_id: frontend_components
      name: Frontend Components
      paths:
        - apps/frontend/src/components/**
    - component_id: frontend_hooks
      name: Frontend Hooks
      paths:
        - apps/frontend/src/hooks/**
        - apps/frontend/src/lib/hooks/**
    - component_id: frontend_lib
      name: Frontend Libraries
      paths:
        - apps/frontend/src/lib/**
    - component_id: frontend_api
      name: Frontend API Routes
      paths:
        - apps/frontend/src/app/api/**

# GitHub Checks
github_checks:
  annotations: true

docs: créer document complet actions et todos restants
  ACTIONS_ET_TODOS_RESTANTS_COMPLET.md
Due: none

feat: améliorer analytics backend avec vraies données Prisma
  apps/backend/src/modules/analytics/interfaces/analytics.interface.ts
  apps/backend/src/modules/analytics/services/analytics.service.ts
  apps/frontend/src/app/api/dashboard/chart-data/route.ts
Due: unittests, e2e, Frontend API Routes

feat: ajouter endpoints analytics top-pages, top-countries, realtime
  apps/backend/src/modules/analytics/controllers/analytics.controller.ts
  apps/backend/src/modules/analytics/services/analytics.service.ts
Due: none

docs: créer résumé progression développement complet
  PROGRESSION_DEVELOPPEMENT_COMPLET.md
Due: none

docs: documenter correction Dockerfile erreur syntaxe
  CORRECTION_DOCKERFILE_FINAL.md
Due: none

docs: créer statut build Railway Dockerfile
  STATUT_BUILD_RAILWAY.md
Due: none

fix: corriger toutes les erreurs TypeScript analytics
  apps/backend/src/modules/analytics/services/analytics.service.ts
Due: none

docs: documenter corrections TypeScript analytics complètes
  CORRECTIONS_TYPESCRIPT_ANALYTICS.md
Due: none

docs: ajouter plan migration cookies et résumé développement
  PLAN_MIGRATION_COOKIES.md
  RÉSUMÉ_DÉVELOPPEMENT_COMPLET.md
Due: none

feat: migration complète localStorage → httpOnly cookies
  apps/backend/src/main.ts
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/store/auth.ts
Due: unittests, e2e, Frontend Libraries

test: ajouter script de test endpoints backend
  scripts/test-backend-endpoints.sh
Due: none

docs: documenter migration cookies complétée
  MIGRATION_COOKIES_COMPLETE.md
Due: none

docs: résumé final session développement
  RÉSUMÉ_FINAL_SESSION.md
Due: none

security: supprimer tokens de la réponse API (httpOnly cookies uniquement)
  apps/backend/src/modules/auth/auth.controller.ts
Due: none

feat: améliorations analytics et sécurité
  apps/backend/src/modules/analytics/services/analytics.service.ts
Due: none

docs: documenter améliorations continues
  AMÉLIORATIONS_CONTINUES.md
Due: none

docs: résumé final améliorations complètes
  RÉSUMÉ_FINAL_AMÉLIORATIONS.md
Due: none

fix: corriger erreur totalUsers dans getTopCountries
  apps/backend/src/modules/analytics/services/analytics.service.ts
Due: none

docs: documenter todos restants
  TODOS_RESTANTS.md
Due: none

refactor: remplacer console.log par Logger/logger
  apps/backend/src/main.ts
  apps/frontend/src/app/(dashboard)/dashboard/components/RecentActivity.tsx
  apps/frontend/src/app/(dashboard)/templates/error.tsx
  apps/frontend/src/lib/supabase/admin.ts
Due: unittests, e2e, Frontend Libraries

improve: améliorer Error Boundary templates page
  apps/frontend/src/app/(dashboard)/templates/error.tsx
Due: unittests, e2e

feat: calculer fileSize depuis headers HTTP
  apps/backend/src/modules/ar/ar-studio.service.ts
Due: none

docs: résumé améliorations session continue
  AMÉLIORATIONS_SESSION_CONTINUE.md
Due: none

feat: compression AR models et face/product detection
  apps/backend/src/modules/ai/services/ai-image.service.ts
  apps/backend/src/modules/ar/ar-studio.service.ts
Due: none

fix: corriger utilisation detectFocusPoint dans smart crop
  apps/backend/src/modules/ai/services/ai-image.service.ts
Due: none

test: ajouter tests automatisés analytics et cookies
  apps/backend/src/modules/analytics/services/analytics.service.spec.ts
  apps/backend/src/modules/auth/auth-cookies.integration.spec.ts
  apps/backend/src/modules/auth/auth.service.spec.ts
Due: none

docs: améliorer documentation Swagger API
  apps/backend/src/modules/analytics/controllers/analytics.controller.ts
  apps/backend/src/modules/auth/auth.controller.ts
Due: none

feat: améliorer monitoring avec health checks avancés
  apps/backend/src/modules/health/health.controller.ts
  apps/backend/src/modules/health/health.module.ts
Due: none

perf: optimisations performance backend et frontend
  apps/backend/src/modules/analytics/analytics.module.ts
  apps/backend/src/modules/analytics/services/analytics.service.ts
  apps/frontend/src/app/(dashboard)/dashboard/analytics/AnalyticsPageClient.tsx
Due: unittests, e2e

fix: corrections erreurs TypeScript build Railway
  apps/backend/src/modules/auth/auth.service.spec.ts
  apps/backend/src/modules/health/health.controller.ts
  apps/backend/src/modules/health/health.module.ts
Due: none

fix: corrections complètes erreurs TypeScript build Railway
  apps/backend/src/main.ts
  apps/backend/src/modules/analytics/services/analytics.service.spec.ts
  apps/backend/src/modules/auth/auth-cookies.integration.spec.ts
  apps/backend/src/modules/auth/auth.service.spec.ts
Due: none

feat(priority-high): complétion phase haute priorité
  PROCHAINES_ÉTAPES.md
  RÉSUMÉ_SESSION_COMPLÈTE.md
  apps/backend/src/health-server.ts
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/widget/editor/page.tsx
  apps/frontend/src/components/charts/LineChart.tsx
  apps/frontend/src/components/chat/ContextFilesChat.tsx
  apps/frontend/src/test/setup.ts
  apps/frontend/types/global.d.ts
  scripts/test-backend-endpoints.sh
Due: unittests, e2e, Frontend Components

feat(priority-low): complétion phase basse priorité
  RÉSUMÉ_COMPLÉTION_PHASES.md
  apps/backend/src/modules/designs/designs.controller.ts
  apps/backend/src/modules/orders/orders.controller.ts
  apps/backend/src/modules/products/products.controller.ts
  apps/backend/src/modules/users/users.controller.ts
Due: none

docs: résumé final toutes phases complétées
  RÉSUMÉ_FINAL_TOUTES_PHASES.md
Due: none

feat: développement complet toutes priorités - useAuth migration, AR URLs signées, discount codes, schedule logic, loading states, documentation
  CE_QUI_RESTE_A_FAIRE.md
  RÉSUMÉ_DÉVELOPPEMENT_COMPLET.md
  apps/backend/src/modules/analytics/services/analytics-advanced.service.ts
  apps/backend/src/modules/ar/ar-studio.module.ts
  apps/backend/src/modules/ar/ar-studio.service.ts
  apps/backend/src/modules/marketplace/services/stripe-connect.service.ts
  apps/backend/src/modules/orders/orders.module.ts
  apps/backend/src/modules/orders/orders.service.ts
  apps/backend/src/modules/orders/services/discount.service.ts
  apps/backend/src/modules/referral/referral.service.ts
  apps/frontend/src/app/(public)/page.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/marketing/home/cta-section-new.tsx
  apps/frontend/src/components/marketing/home/cursor-glow.tsx
  apps/frontend/src/components/marketing/home/features-section-new.tsx
  apps/frontend/src/components/marketing/home/footer-new.tsx
  apps/frontend/src/components/marketing/home/hero-section-new.tsx
  apps/frontend/src/components/marketing/home/how-it-works-new.tsx
  apps/frontend/src/components/marketing/home/index.ts
  apps/frontend/src/components/marketing/home/navigation.tsx
  apps/frontend/src/components/marketing/home/pricing-section-new.tsx
  apps/frontend/src/components/marketing/home/testimonials-new.tsx
  apps/frontend/src/components/ui/skeletons/EnhancedSkeleton.tsx
  apps/frontend/src/hooks/useAuth.tsx
  apps/frontend/src/hooks/useCounter.ts
  apps/frontend/src/hooks/useCursorGlow.ts
  apps/frontend/src/hooks/usePricingToggle.ts
  apps/frontend/src/hooks/useScrollAnimations.ts
Due: unittests, e2e, Frontend Components, Frontend Hooks

docs: ajout vérification build et résumé développement complet
  VÉRIFICATION_BUILD.md
Due: none

feat: Nouveau design Luneo basé sur template Pandawa
  AUDIT_DESIGN_LUNEO.md
  DEPLOIEMENT_DESIGN_LUNEO.md
  DEPLOIEMENT_PRODUCTION.md
  RESUME_DESIGN_LUNEO.md
  apps/backend/src/modules/orders/orders.service.ts
  apps/frontend/src/components/marketing/home/hero-section-new.tsx
  apps/frontend/src/components/marketing/home/how-it-works-new.tsx
  apps/frontend/src/components/marketing/home/navigation.tsx
  apps/frontend/src/components/marketing/home/pricing-section-new.tsx
  apps/frontend/tailwind.config.cjs
Due: unittests, e2e, Frontend Components

docs: ajout scripts surveillance build et guide actions correctives
  ACTIONS_CORRECTIVES.md
  SURVEILLANCE_BUILD.md
  scripts/monitor-railway-build.sh
Due: none

docs: ajout status build production
  STATUS_BUILD_PRODUCTION.md
Due: none

docs: ajout guide surveillance logs Railway
  GUIDE_SURVEILLANCE_LOGS.md
Due: none
