Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

codecov.yml:

# Codecov Configuration
# T-005: Int√©grer Codecov pour rapports de couverture

# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        # Overall project coverage target
        target: 70%
        threshold: 2%
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        # Coverage on changed lines in PR
        target: 80%
        threshold: 5%
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches:
    - main
    - develop
    - staging

flags:
  unittests:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1
  
  e2e:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/*.d.ts"
  - "**/types/**"
  - "**/config/**"
  - "**/scripts/**"

# Component Management (shows coverage per component)
component_management:
  individual_components:
    - component_id: frontend_components
      name: Frontend Components
      paths:
        - apps/frontend/src/components/**
    - component_id: frontend_hooks
      name: Frontend Hooks
      paths:
        - apps/frontend/src/hooks/**
        - apps/frontend/src/lib/hooks/**
    - component_id: frontend_lib
      name: Frontend Libraries
      paths:
        - apps/frontend/src/lib/**
    - component_id: frontend_api
      name: Frontend API Routes
      paths:
        - apps/frontend/src/app/api/**

# GitHub Checks
github_checks:
  annotations: true

docs: Ajout guides configuration Redis Railway et actions requises finales
  ACTIONS_REQUISES_FINALES.md
  apps/backend/configure-redis-railway.sh
Due: none

docs: Résumé complet de toutes les actions effectuées
  RESUME_ACTIONS_COMPLETE.md
Due: none

docs: Configuration Upstash Redis complète
  apps/backend/CONFIGURATION_UPSTASH_COMPLETE.md
Due: none

docs: Guides vérification Upstash Redis URL
  apps/backend/VERIFICATION_UPSTASH.md
Due: none

docs: Résumé configuration finale Upstash Redis
  RESUME_CONFIGURATION_FINALE.md
Due: none

fix: Configuration BullMQ pour Upstash Redis avec TLS
  apps/backend/src/app.module.ts
Due: none

fix: Amélioration gestion erreurs Redis dans OutboxScheduler
  apps/backend/SOLUTION_UPSTASH_TCP.md
  apps/backend/src/jobs/schedulers/outbox-scheduler.ts
Due: none

docs: Résumé configuration finale complète
  CONFIGURATION_FINALE_COMPLETE.md
Due: none

docs: Confirmation déploiement production complet - Redis connecté ✅
  DEPLOIEMENT_PRODUCTION_COMPLET.md
Due: none

docs: Vérification complète production - Tout déployé ✅
  VERIFICATION_PRODUCTION.md
Due: none

feat: Mise à jour logo, favicon et HeroBanner avec les nouveaux designs
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/HeroBannerOptimized.tsx
  apps/frontend/src/components/Logo.tsx
Due: unittests, e2e, Frontend Components

feat: Ajout des nouvelles images (herobanner, logo, favicon) depuis Cloudinary
  apps/frontend/public/favicon.png
  apps/frontend/public/herobanner.png
  apps/frontend/public/logo.png
Due: none

feat: Suppression des éléments de navigation de la page d'accueil
  apps/frontend/src/components/HeroBannerOptimized.tsx
Due: unittests, e2e, Frontend Components

feat: Remplacement du logo par le logo PNG avec redirection vers l'accueil
  apps/frontend/src/components/HeroBannerOptimized.module.css
  apps/frontend/src/components/HeroBannerOptimized.tsx
Due: unittests, e2e, Frontend Components

docs: État des corrections frontend en cours
  CORRECTIONS_EN_COURS.md
Due: none

feat: Logo 5x plus grand + suppression bouton Réserver une démo
  apps/frontend/src/components/HeroBannerOptimized.module.css
  apps/frontend/src/components/HeroBannerOptimized.tsx
  apps/frontend/src/components/layout/Footer.tsx
  apps/frontend/src/components/navigation/ZakekeStyleNav.tsx
Due: unittests, e2e, Frontend Components

fix: Suppression logo du HeroBanner - Logo uniquement dans le menu
  apps/frontend/src/components/HeroBannerOptimized.tsx
Due: unittests, e2e, Frontend Components

chore: Nettoyage imports inutiles HeroBannerOptimized
  apps/frontend/src/components/HeroBannerOptimized.tsx
Due: unittests, e2e, Frontend Components

fix: Correction import getRedis dans AIService.ts
  apps/frontend/src/lib/services/AIService.ts
Due: unittests, e2e, Frontend Libraries

docs: Ajout documents audit frontend détaillé
  AUDIT_DETAILLE_PAGE_PAR_PAGE.md
  AUDIT_FRONTEND_COMPLET.md
  AUDIT_PROGRESS.md
Due: none

fix: Correction erreurs library page
  apps/frontend/src/app/(dashboard)/library/page.tsx
Due: unittests, e2e

fix: Correction dernière référence loadTemplates dans library
  apps/frontend/src/app/(dashboard)/library/page.tsx
Due: unittests, e2e

docs: Mise à jour progression audit - 16 pages vérifiées, 2 erreurs corrigées
  AUDIT_RESUME.md
Due: none

fix: Corrections pages team et integrations
  apps/frontend/src/app/(dashboard)/integrations/page.tsx
  apps/frontend/src/app/(dashboard)/team/page.tsx
Due: unittests, e2e

fix: Corrections lisibilité supplémentaires integrations
  apps/frontend/src/app/(dashboard)/integrations/page.tsx
Due: unittests, e2e

fix: Correction lisibilité page fashion industry
  apps/frontend/src/app/(public)/industries/fashion/page.tsx
Due: unittests, e2e

docs: Mise à jour progression audit - 22 pages vérifiées, 6 erreurs corrigées
  AUDIT_ERREURS_CORRIGEES.md
  AUDIT_PROGRESSION_FINALE.md
Due: none

fix: Corrections lisibilité pages industries (furniture, jewelry, automotive)
  apps/frontend/src/app/(public)/industries/automotive/page.tsx
  apps/frontend/src/app/(public)/industries/furniture/page.tsx
  apps/frontend/src/app/(public)/industries/jewelry/page.tsx
Due: unittests, e2e

fix: Corrections lisibilité pages industries (sports, electronics)
  AUDIT_RESUME_FINAL.md
  apps/frontend/src/app/(public)/industries/electronics/page.tsx
  apps/frontend/src/app/(public)/industries/sports/page.tsx
Due: unittests, e2e

fix: Correction lisibilité page use-cases e-commerce
  AUDIT_FINAL_COMPLET.md
  apps/frontend/src/app/(public)/use-cases/e-commerce/page.tsx
Due: unittests, e2e

fix: Corrections lisibilité pages use-cases (print-on-demand, marketing, dropshipping, branding, agency)
  apps/frontend/src/app/(public)/use-cases/agency/page.tsx
  apps/frontend/src/app/(public)/use-cases/branding/page.tsx
  apps/frontend/src/app/(public)/use-cases/dropshipping/page.tsx
  apps/frontend/src/app/(public)/use-cases/marketing/page.tsx
  apps/frontend/src/app/(public)/use-cases/print-on-demand/page.tsx
Due: unittests, e2e

fix: Correction lisibilité page Analytics
  apps/frontend/src/app/(dashboard)/analytics/page.tsx
Due: unittests, e2e

fix: Corrections lisibilité case-studies [slug]
  AUDIT_PROGRESSION_FINALE.md
  apps/frontend/src/app/(public)/case-studies/[slug]/page.tsx
Due: unittests, e2e

fix: Corrections lisibilité complètes case-studies [slug]
  apps/frontend/src/app/(public)/case-studies/[slug]/page.tsx
Due: unittests, e2e

fix: Corrections lisibilité changelog, testimonials, admin
  apps/frontend/src/app/(dashboard)/admin/page.tsx
  apps/frontend/src/app/(public)/changelog/page.tsx
Due: unittests, e2e

fix: Corrections designs versions et changelog
  apps/frontend/src/app/(dashboard)/designs/[id]/versions/page.tsx
Due: unittests, e2e

fix: Corrections finales changelog et designs versions
  apps/frontend/src/app/(dashboard)/designs/[id]/versions/page.tsx
  apps/frontend/src/app/(public)/changelog/page.tsx
Due: unittests, e2e

fix: Corrections lisibilité integrations shopify et pricing
  apps/frontend/src/app/(public)/integrations/shopify/page.tsx
  apps/frontend/src/app/(public)/pricing/page.tsx
Due: unittests, e2e

fix: Corrections lisibilité integrations (woocommerce, stripe, printful, zapier, make) et enterprise
  apps/frontend/src/app/(public)/enterprise/page.tsx
  apps/frontend/src/app/(public)/integrations/make/page.tsx
  apps/frontend/src/app/(public)/integrations/printful/page.tsx
  apps/frontend/src/app/(public)/integrations/stripe/page.tsx
  apps/frontend/src/app/(public)/integrations/woocommerce/page.tsx
  apps/frontend/src/app/(public)/integrations/zapier/page.tsx
Due: unittests, e2e
