Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

feat: OAuth Service Unit Tests + Railway Docs Update
  apps/backend/src/modules/auth/services/oauth.service.spec.ts
  docs/BIBLE_RAILWAY_CORRECTIONS.md
Due: none

fix: Railway Build - Google Strategy Provider Type
  apps/frontend/src/app/(dashboard)/dashboard/support/page.tsx
  apps/frontend/src/lib/hooks/useSupport.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: Railway Build - Add 'as const' to Provider Types
  apps/backend/src/modules/auth/strategies/github.strategy.ts
  apps/backend/src/modules/auth/strategies/google.strategy.ts
Due: none

docs: Final Railway Corrections Update - 18 Errors Fixed
  docs/BIBLE_RAILWAY_CORRECTIONS.md
Due: none

fix: Railway Runtime - Remove CacheExtensionService Dependency
  apps/backend/src/modules/cache/services/cache-warming.service.ts
  apps/frontend/src/app/(dashboard)/dashboard/support/page.tsx
  apps/frontend/src/lib/hooks/useSupport.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

docs: Update Railway Corrections - CacheExtensionService Fix
  docs/BIBLE_RAILWAY_CORRECTIONS.md
Due: none

fix: Remove cacheExtension.warmupCache() call
  apps/backend/src/modules/cache/services/cache-warming.service.ts
Due: none

docs: Railway Success - Application Started Successfully
  docs/BIBLE_RAILWAY_CORRECTIONS.md
Due: none

docs: Railway Infrastructure Issues Documentation
  docs/RAILWAY_INFRASTRUCTURE_ISSUES.md
Due: none

feat: Improved Error Handling for Infrastructure Issues
  apps/backend/src/libs/prisma/prisma-optimized.service.ts
  apps/backend/src/libs/redis/redis-optimized.service.ts
  apps/frontend/src/app/(dashboard)/dashboard/support/page.tsx
  apps/frontend/src/lib/hooks/useSupport.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

docs: Update Infrastructure Issues - Add Improvements Section
  docs/RAILWAY_INFRASTRUCTURE_ISSUES.md
Due: none

feat: Improve PrismaService Error Handling
  apps/backend/src/libs/prisma/prisma.service.ts
  apps/frontend/src/app/(dashboard)/dashboard/team/components/TeamMembersList.tsx
Due: unittests, e2e

test: Add CaptchaService Unit Tests
  apps/backend/src/modules/auth/services/captcha.service.spec.ts
  apps/frontend/src/app/(dashboard)/dashboard/webhooks/components/TestWebhookModal.tsx
  apps/frontend/src/lib/api/client.ts
Due: unittests, e2e, Frontend Libraries

ci: Disable automatic Vercel deployments to save credits
  .github/workflows/ci.yml
  .github/workflows/deploy-vercel-frontend.yml
Due: none

ci: Disable remaining automatic Vercel deployments
  .github/workflows/deploy-luneo.yml
  .github/workflows/deploy-production.yml
  .github/workflows/production-deploy.yml
Due: none

test: Enhance AuthService unit tests
  apps/backend/src/modules/auth/auth.service.spec.ts
  apps/frontend/src/app/(dashboard)/dashboard/webhooks/components/TestWebhookModal.tsx
  apps/frontend/src/app/(dashboard)/dashboard/webhooks/components/WebhookLogsModal.tsx
  apps/frontend/src/app/(dashboard)/dashboard/webhooks/page.tsx
  apps/frontend/src/app/(dashboard)/designs/[id]/versions/page.tsx
  apps/frontend/src/app/(dashboard)/integrations/page.tsx
Due: unittests, e2e

test: Add integration tests for complete workflows
  apps/backend/test/integration/admin-workflow.integration.spec.ts
  apps/backend/test/integration/auth-workflow.integration.spec.ts
  apps/backend/test/integration/oauth-workflow.integration.spec.ts
  apps/frontend/src/app/(dashboard)/library/page.tsx
Due: unittests, e2e

test: Add advanced E2E tests with Playwright
  apps/frontend/tests/e2e/workflows/admin-dashboard-flow.spec.ts
  apps/frontend/tests/e2e/workflows/complete-user-journey.spec.ts
  apps/frontend/tests/e2e/workflows/edge-cases.spec.ts
  apps/frontend/tests/e2e/workflows/error-handling.spec.ts
  apps/frontend/tests/e2e/workflows/oauth-flow.spec.ts
Due: none

test: Add performance and load tests
  apps/backend/test/performance/api-load-test.k6.js
  apps/backend/test/performance/cache-performance-test.k6.js
  apps/backend/test/performance/database-load-test.k6.js
  apps/backend/test/performance/memory-leak-test.js
  apps/backend/test/performance/response-time-test.k6.js
Due: none

test: Add visual regression and security tests
  apps/backend/test/security/auth-bypass.spec.ts
  apps/backend/test/security/csrf.spec.ts
  apps/backend/test/security/rate-limiting.spec.ts
  apps/backend/test/security/sql-injection.spec.ts
  apps/backend/test/security/xss.spec.ts
  apps/frontend/src/app/(dashboard)/library/page.tsx
  apps/frontend/src/app/(dashboard)/notifications/page.tsx
  apps/frontend/tests/e2e/visual-regression/components.spec.ts
  apps/frontend/tests/e2e/visual-regression/cross-browser.spec.ts
  apps/frontend/tests/e2e/visual-regression/pages.spec.ts
Due: unittests, e2e

test: Add final tests (contract and chaos engineering)
  apps/backend/test/chaos/database-downtime.spec.ts
  apps/backend/test/chaos/external-api-failures.spec.ts
  apps/backend/test/chaos/network-latency.spec.ts
  apps/backend/test/chaos/redis-downtime.spec.ts
  apps/backend/test/contract/api-contract.spec.ts
  apps/backend/test/contract/openapi-validation.spec.ts
  apps/frontend/src/app/(dashboard)/notifications/page.tsx
Due: unittests, e2e

docs: Add complete project status analysis
  docs/ETAT_PROJET_COMPLET.md
Due: none

feat: Add final improvements for 90/100 score
  .github/workflows/multi-environment.yml
  apps/backend/grafana-dashboard.json
  apps/backend/src/modules/monitoring/grafana/datasource.service.ts
  apps/backend/src/modules/monitoring/grafana/grafana.controller.ts
  apps/backend/src/modules/monitoring/grafana/grafana.module.ts
  apps/backend/stryker.conf.json
  apps/backend/test/mutation/auth.mutation.spec.ts
  apps/frontend/src/app/(dashboard)/notifications/page.tsx
  docs/GRAFANA_MONITORING.md
  docs/MULTI_ENVIRONMENT_CI_CD.md
  docs/MUTATION_TESTING.md
Due: unittests, e2e

docs: Add final completion report
  docs/FINAL_COMPLETION_REPORT.md
Due: none

fix: Integrate GrafanaModule into MonitoringModule
  apps/backend/package.json
  apps/backend/src/modules/monitoring/monitoring.module.ts
Due: none

fix: Correct Grafana datasource cache hit rate calculation
  apps/backend/src/modules/monitoring/grafana/datasource.service.ts
Due: none

docs: Update Railway corrections Bible with Grafana datasource fix
  apps/frontend/src/app/(dashboard)/notifications/page.tsx
  docs/BIBLE_RAILWAY_CORRECTIONS.md
Due: unittests, e2e

docs: Add 'What remains to do' document
  apps/frontend/src/app/(dashboard)/overview/page.tsx
Due: unittests, e2e

fix: remove commented code causing TypeScript errors in webhook routes
  apps/frontend/src/app/api/integrations/woocommerce/webhook/route.ts
Due: unittests, e2e, Frontend API Routes

fix: correct remaining TypeScript and lint errors for production
  apps/frontend/src/app/api/marketplace/seller/orders/route.ts
  apps/frontend/src/app/api/orders/[id]/route.ts
  apps/frontend/src/app/api/public/industries/route.ts
  apps/frontend/src/app/api/public/integrations/route.ts
  apps/frontend/src/app/api/public/solutions/route.ts
  apps/frontend/src/app/api/settings/password/route.ts
  apps/frontend/src/app/api/support/knowledge-base/articles/route.ts
  apps/frontend/src/app/api/templates/route.ts
  apps/frontend/src/app/api/webhooks/stripe/route.ts
  apps/frontend/src/app/ar/viewer/page.tsx
Due: unittests, e2e, Frontend API Routes

fix: correct module variable errors in test files
  apps/frontend/__tests__/components/ProductCustomizer.test.tsx
  apps/frontend/__tests__/components/RegisterForm.test.tsx
  apps/frontend/src/app/ar/viewer/page.tsx
  docs/CORRECTIONS_FINALES_2025.md
Due: unittests, e2e

fix: rename useLunaChat.test.ts to .tsx for JSX support
  apps/frontend/src/hooks/agents/__tests__/useLunaChat.test.tsx
  docs/CORRECTIONS_GITHUB_2025.md
Due: none

fix: correct manifest.ts purpose type and shopify sync z import
  apps/frontend/src/app/api/integrations/shopify/sync/route.ts
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/manifest.ts
Due: unittests, e2e, Frontend API Routes

fix: add missing I18nProvider props (currency, timezone, availableLocales)
  apps/frontend/src/app/providers.tsx
Due: unittests, e2e

fix: correct widget-editor import path and I18nProvider props
  apps/frontend/src/app/widget/editor/page.tsx
Due: unittests, e2e

fix: use local WidgetConfig type definition instead of external package
  apps/frontend/src/app/widget/editor/page.tsx
  docs/CORRECTIONS_FINALES_GITHUB_2025.md
Due: unittests, e2e

fix: add Window.LuneoWidget type declaration
  apps/frontend/src/app/widget/editor/page.tsx
Due: unittests, e2e

fix: type response in customers-table bulkAction
  apps/frontend/src/app/widget/editor/page.tsx
  apps/frontend/src/components/admin/customers/customers-table.tsx
Due: unittests, e2e, Frontend Components

fix: add radio-group component and fix LazyAgentChat type errors
  apps/frontend/src/components/agents/optimizations/LazyAgentChat.tsx
  apps/frontend/src/components/ui/radio-group.tsx
Due: unittests, e2e, Frontend Components

Path conditions:
  unittests: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  e2e: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Components: any of: apps/frontend/src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Hooks: any of: apps/frontend/src/hooks/**, apps/frontend/src/lib/hooks/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Libraries: any of: apps/frontend/src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend API Routes: any of: apps/frontend/src/app/api/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
