Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

codecov.yml:

# Codecov Configuration
# T-005: Int√©grer Codecov pour rapports de couverture

# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        # Overall project coverage target
        target: 70%
        threshold: 2%
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        # Coverage on changed lines in PR
        target: 80%
        threshold: 5%
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches:
    - main
    - develop
    - staging

flags:
  unittests:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1
  
  e2e:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/*.d.ts"
  - "**/types/**"
  - "**/config/**"
  - "**/scripts/**"

# Component Management (shows coverage per component)
component_management:
  individual_components:
    - component_id: frontend_components
      name: Frontend Components
      paths:
        - apps/frontend/src/components/**
    - component_id: frontend_hooks
      name: Frontend Hooks
      paths:
        - apps/frontend/src/hooks/**
        - apps/frontend/src/lib/hooks/**
    - component_id: frontend_lib
      name: Frontend Libraries
      paths:
        - apps/frontend/src/lib/**
    - component_id: frontend_api
      name: Frontend API Routes
      paths:
        - apps/frontend/src/app/api/**

# GitHub Checks
github_checks:
  annotations: true

fix: harden admin auth resolution for API proxies
  apps/frontend/src/lib/admin/permissions.ts
  apps/frontend/src/lib/auth/get-user.ts
Due: unittests, e2e, Frontend Libraries

fix: remove brittle frontend admin gate on automation proxies
  apps/frontend/src/app/api/admin/marketing/automations/[id]/route.ts
  apps/frontend/src/app/api/admin/marketing/automations/route.ts
  apps/frontend/src/app/api/admin/marketing/automations/test/route.ts
Due: unittests, e2e, Frontend API Routes

fix: restore admin email automations end-to-end flow
  apps/backend/src/modules/admin/admin.service.ts
  apps/frontend/middleware.ts
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/app/(dashboard)/layout.tsx
  apps/frontend/src/app/api/admin/marketing/automations/[id]/route.ts
  apps/frontend/src/app/api/admin/marketing/automations/route.ts
  apps/frontend/src/app/api/v1/auth/_helpers.ts
  apps/frontend/src/components/admin/marketing/automations-list.tsx
  apps/frontend/src/lib/api/normalize.ts
Due: unittests, e2e, Frontend Components, Frontend Libraries, Frontend API Routes

fix: add CSRF header fallback for admin proxy mutations
  apps/frontend/src/lib/api/admin-forward-headers.ts
Due: unittests, e2e, Frontend Libraries

fix: bootstrap csrf token for mutative admin requests
  apps/frontend/src/app/(super-admin)/admin/marketing/automations/[id]/page.tsx
  apps/frontend/src/lib/api/client.ts
Due: unittests, e2e, Frontend Libraries

fix: enforce csrf cookie+header pair in admin proxy
  apps/frontend/src/lib/api/admin-forward-headers.ts
Due: unittests, e2e, Frontend Libraries

feat: send real email for marketing automation test action
  apps/backend/src/modules/admin/admin.controller.ts
  apps/backend/src/modules/admin/admin.service.ts
Due: none

fix: avoid double CSRF validation on admin API proxy routes
  apps/frontend/middleware.ts
Due: none

fix: stabilize CSRF token lifecycle for admin mutations
  apps/frontend/src/lib/csrf.ts
Due: unittests, e2e, Frontend Libraries

fix: return actionable automation test errors when email providers unavailable
  apps/backend/src/modules/admin/admin.service.ts
  apps/frontend/src/app/api/admin/marketing/automations/test/route.ts
Due: unittests, e2e, Frontend API Routes

fix: stop retry loop for automation test endpoint failures
  apps/frontend/src/lib/api/client.ts
Due: unittests, e2e, Frontend Libraries

fix: surface actionable provider failures for automation test emails
  apps/backend/src/modules/admin/admin.service.ts
  apps/backend/src/modules/email/email.service.ts
Due: none

fix: align GitHub Actions pnpm version with repository packageManager
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/e2e-quality-gates.yml
  .github/workflows/e2e-weekly-kpi.yml
  .github/workflows/platform-hardening.yml
  .github/workflows/preprod-smoke.yml
  .github/workflows/release-gates.yml
  .github/workflows/rollback-drill.yml
Due: none

fix: install Playwright browsers in E2E quality gates
  .github/workflows/e2e-quality-gates.yml
Due: none

fix: remove empty catch blocks in E2E flow suites
  apps/frontend/tests/e2e/analytics-flows.spec.ts
  apps/frontend/tests/e2e/orders-flows.spec.ts
  apps/frontend/tests/e2e/products-flows.spec.ts
Due: none

fix: unblock quality gate lint errors in frontend tests
  apps/frontend/__tests__/components/Button.test.tsx
  apps/frontend/__tests__/components/RegisterForm.test.tsx
  apps/frontend/__tests__/hooks/useBilling.test.tsx
  apps/frontend/__tests__/lib/performance.test.ts
  apps/frontend/__tests__/lib/security.test.ts
  apps/frontend/__tests__/lib/utils.test.ts
Due: none

fix: clear remaining quality-gate warnings in auth and navigation
  apps/frontend/e2e/navigation.spec.ts
  apps/frontend/src/app/(auth)/forgot-password/page.tsx
  apps/frontend/src/app/(auth)/login/__tests__/login.test.tsx
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/app/(auth)/reset-password/page.tsx
Due: unittests, e2e

fix: remove remaining quality-gate lint warnings in dashboard and auth
  apps/frontend/src/app/(auth)/verify-email/page.tsx
  apps/frontend/src/app/(dashboard)/admin/discounts/page.tsx
  apps/frontend/src/app/(dashboard)/admin/tenants/page.tsx
  apps/frontend/src/app/(dashboard)/agents/[id]/page.tsx
  apps/frontend/src/app/(dashboard)/agents/create/page.tsx
  apps/frontend/src/app/(dashboard)/agents/new/page.tsx
Due: unittests, e2e

fix: prune unused symbols in billing and agents dashboard pages
  apps/frontend/src/app/(dashboard)/agents/page.tsx
  apps/frontend/src/app/(dashboard)/billing/addons/page.tsx
  apps/frontend/src/app/(dashboard)/billing/page.tsx
Due: unittests, e2e

fix: resolve additional dashboard lint blockers for quality gate
  apps/frontend/src/app/(dashboard)/billing/portal/page.tsx
  apps/frontend/src/app/(dashboard)/billing/success/page.tsx
  apps/frontend/src/app/(dashboard)/billing/usage/page.tsx
  apps/frontend/src/app/(dashboard)/conversations/[id]/page.tsx
  apps/frontend/src/app/(dashboard)/conversations/page.tsx
  apps/frontend/src/app/(dashboard)/knowledge/[id]/page.tsx
Due: unittests, e2e

fix: address latest quality gate blockers across dashboard views
  apps/frontend/src/app/(dashboard)/billing/success/page.tsx
  apps/frontend/src/app/(dashboard)/knowledge/page.tsx
  apps/frontend/src/app/(dashboard)/layout.tsx
  apps/frontend/src/app/(dashboard)/overview/components/MiniBarChart.tsx
  apps/frontend/src/app/(dashboard)/overview/hooks/useOverviewData.tsx
  apps/frontend/src/app/(dashboard)/overview/page.tsx
  apps/frontend/src/app/(dashboard)/plans/page.tsx
Due: unittests, e2e

fix: clear remaining settings lint blockers for quality gate
  apps/frontend/src/app/(dashboard)/settings/page.tsx
  apps/frontend/src/app/(dashboard)/settings/privacy/page.tsx
  apps/frontend/src/app/(dashboard)/settings/security/page.tsx
  apps/frontend/src/app/(dashboard)/settings/usage/page.tsx
Due: unittests, e2e

fix: unblock quality gate warnings in onboarding, team, and support
  apps/frontend/src/app/(dashboard)/support/page.tsx
  apps/frontend/src/app/(dashboard)/team/page.tsx
  apps/frontend/src/app/(onboarding)/onboarding/__tests__/onboarding.test.tsx
Due: unittests, e2e

fix: remove remaining public and onboarding lint warnings
  apps/frontend/src/app/(onboarding)/onboarding/components/Step2Industry.tsx
  apps/frontend/src/app/(onboarding)/onboarding/page.tsx
  apps/frontend/src/app/(public)/about/page.tsx
  apps/frontend/src/app/(public)/case-studies/[slug]/page.tsx
  apps/frontend/src/app/(public)/contact/page.tsx
  apps/frontend/src/app/(public)/developers/page.tsx
  apps/frontend/src/app/(public)/entreprise/page.tsx
  apps/frontend/src/app/(public)/features/page.tsx
Due: unittests, e2e

fix: clean docs lint warnings in analytics and ai pages
  apps/frontend/src/app/(public)/help/documentation/ai/best-practices/page.tsx
  apps/frontend/src/app/(public)/help/documentation/ai/dalle-integration/page.tsx
  apps/frontend/src/app/(public)/help/documentation/ai/models/page.tsx
  apps/frontend/src/app/(public)/help/documentation/ai/prompts/page.tsx
  apps/frontend/src/app/(public)/help/documentation/analytics/custom-events/page.tsx
  apps/frontend/src/app/(public)/help/documentation/analytics/dashboards/page.tsx
  apps/frontend/src/app/(public)/help/documentation/analytics/events/page.tsx
Due: unittests, e2e

fix: remove remaining api and analytics docs lint noise
  apps/frontend/src/app/(public)/help/documentation/analytics/exports/page.tsx
  apps/frontend/src/app/(public)/help/documentation/analytics/metrics/page.tsx
  apps/frontend/src/app/(public)/help/documentation/analytics/overview/page.tsx
  apps/frontend/src/app/(public)/help/documentation/api-reference/authentication/page.tsx
  apps/frontend/src/app/(public)/help/documentation/api-reference/limits/page.tsx
Due: unittests, e2e

fix: clear remaining docs warnings for auth and api sections
  apps/frontend/src/app/(public)/help/documentation/api-reference/page.tsx
  apps/frontend/src/app/(public)/help/documentation/api/authentication/page.tsx
  apps/frontend/src/app/(public)/help/documentation/api/rate-limiting/page.tsx
  apps/frontend/src/app/(public)/help/documentation/api/webhooks/page.tsx
  apps/frontend/src/app/(public)/help/documentation/authentication/page.tsx
  apps/frontend/src/app/(public)/help/documentation/best-practices/accessibility/page.tsx
Due: unittests, e2e

fix: clean remaining docs warnings in cli and best-practices
  apps/frontend/src/app/(public)/help/documentation/best-practices/code-quality/page.tsx
  apps/frontend/src/app/(public)/help/documentation/best-practices/performance/page.tsx
  apps/frontend/src/app/(public)/help/documentation/best-practices/seo/page.tsx
  apps/frontend/src/app/(public)/help/documentation/best-practices/ux-design/page.tsx
  apps/frontend/src/app/(public)/help/documentation/cli/commands/page.tsx
  apps/frontend/src/app/(public)/help/documentation/cli/installation/page.tsx
  apps/frontend/src/app/(public)/help/documentation/cli/page.tsx
  apps/frontend/src/app/(public)/help/documentation/cli/workflows/page.tsx
Due: unittests, e2e

fix: remove docs warnings in deployment and configuration sections
  apps/frontend/src/app/(public)/help/documentation/configuration/environment-variables/page.tsx
  apps/frontend/src/app/(public)/help/documentation/configuration/page.tsx
  apps/frontend/src/app/(public)/help/documentation/deployment/cdn/page.tsx
  apps/frontend/src/app/(public)/help/documentation/deployment/docker/page.tsx
  apps/frontend/src/app/(public)/help/documentation/deployment/kubernetes/page.tsx
  apps/frontend/src/app/(public)/help/documentation/deployment/vercel/page.tsx
  apps/frontend/src/app/(public)/help/documentation/errors/page.tsx
Due: unittests, e2e

fix: normalize documentation pages to remove lint blockers
  apps/frontend/src/app/(public)/help/documentation/integrations/make/page.tsx
  apps/frontend/src/app/(public)/help/documentation/integrations/page.tsx
  apps/frontend/src/app/(public)/help/documentation/integrations/sendgrid/page.tsx
  apps/frontend/src/app/(public)/help/documentation/integrations/zapier/page.tsx
  apps/frontend/src/app/(public)/help/documentation/page.tsx
  apps/frontend/src/app/(public)/help/documentation/quickstart/configuration/page.tsx
  apps/frontend/src/app/(public)/help/documentation/quickstart/deploy/page.tsx
  apps/frontend/src/app/(public)/help/documentation/quickstart/installation/page.tsx
  apps/frontend/src/app/(public)/help/documentation/sdk/angular/page.tsx
  apps/frontend/src/app/(public)/help/documentation/security/audit/page.tsx
  apps/frontend/src/app/(public)/help/documentation/security/gdpr/page.tsx
  apps/frontend/src/app/(public)/help/documentation/security/page.tsx
  apps/frontend/src/app/(public)/help/documentation/security/ssl-tls/page.tsx
  apps/frontend/src/app/(public)/help/documentation/webhooks/events/page.tsx
  apps/frontend/src/app/(public)/help/documentation/webhooks/page.tsx
  apps/frontend/src/app/(public)/help/documentation/webhooks/security/page.tsx
  apps/frontend/src/app/(public)/help/documentation/webhooks/setup/page.tsx
Due: unittests, e2e

fix: prune unused imports in make integration public page
  apps/frontend/src/app/(public)/integrations/make/page.tsx
Due: unittests, e2e

fix: stabilize make and zapier integration pages for quality gate
  apps/frontend/src/app/(public)/integrations/make/page.tsx
  apps/frontend/src/app/(public)/integrations/zapier/page.tsx
Due: unittests, e2e

fix: close remaining frontend quality gate blockers
  apps/frontend/src/app/(public)/integrations/zapier/page.tsx
  apps/frontend/src/app/(public)/legal/ndsg/page.tsx
  apps/frontend/src/app/(public)/newsletter/page.tsx
  apps/frontend/src/app/(public)/pricing/__tests__/pricing.test.tsx
Due: unittests, e2e

fix: remove residual public-page lint blockers
  apps/frontend/src/app/(public)/pricing/components/PricingFAQ.tsx
  apps/frontend/src/app/(public)/pricing/components/PricingHero.tsx
  apps/frontend/src/app/(public)/pricing/components/PricingPlanCard.tsx
  apps/frontend/src/app/(public)/referral/page.tsx
  apps/frontend/src/app/(public)/share/quota/[token]/QuotaShareClient.tsx
Due: unittests, e2e

fix: clear remaining super-admin and public lint warnings
  apps/frontend/src/app/(public)/status/page.tsx
  apps/frontend/src/app/(public)/success-stories/page.tsx
  apps/frontend/src/app/(public)/unsubscribe/page.tsx
  apps/frontend/src/app/(super-admin)/admin/analytics/advanced/page.tsx
  apps/frontend/src/app/(super-admin)/admin/brands/[brandId]/edit/page.tsx
  apps/frontend/src/app/(super-admin)/admin/brands/[brandId]/page.tsx
  apps/frontend/src/app/(super-admin)/admin/events/page.tsx
Due: unittests, e2e

fix: remove Orion and marketing lint leftovers
  apps/frontend/src/app/(super-admin)/admin/marketing/automations/new/page.tsx
  apps/frontend/src/app/(super-admin)/admin/marketing/automations/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/agents/apollo/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/automations/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/communications/page.tsx
Due: unittests, e2e

fix: clean API and Orion lint remnants
  apps/frontend/src/app/(super-admin)/admin/orion/experiments/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/notifications/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/segments/page.tsx
  apps/frontend/src/app/api/analytics/export/route.ts
  apps/frontend/src/app/api/auth/onboarding/route.ts
  apps/frontend/src/app/api/billing/verify-session/route.ts
  apps/frontend/src/app/api/bracelet/models/route.ts
  apps/frontend/src/app/api/chat/other-files-context/route.ts
Due: unittests, e2e, Frontend API Routes

fix: remove residual API route lint warnings
  apps/frontend/src/app/api/contact/route.ts
  apps/frontend/src/app/api/designs/[id]/ar/route.ts
  apps/frontend/src/app/api/emails/send-order-confirmation/route.ts
  apps/frontend/src/app/api/emails/send-production-ready/route.ts
  apps/frontend/src/app/api/emails/send-welcome/route.ts
  apps/frontend/src/app/api/health/route.ts
  apps/frontend/src/app/api/liveblocks/auth/route.ts
  apps/frontend/src/app/api/newsletter/subscribe/route.ts
Due: unittests, e2e, Frontend API Routes

fix: resolve remaining maintenance and API lint blockers
  apps/frontend/src/app/api/onboarding/complete/route.ts
  apps/frontend/src/app/api/profile/password/route.ts
  apps/frontend/src/app/api/public/plans/route.ts
  apps/frontend/src/app/api/realtime/events/route.ts
  apps/frontend/src/app/api/stripe/webhook/route.ts
  apps/frontend/src/app/api/v1/auth/me/route.ts
  apps/frontend/src/app/api/webhooks/route.ts
  apps/frontend/src/app/maintenance/page.tsx
Due: unittests, e2e, Frontend API Routes
