Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

codecov.yml:

# Codecov Configuration
# T-005: Int√©grer Codecov pour rapports de couverture

# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        # Overall project coverage target
        target: 70%
        threshold: 2%
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        # Coverage on changed lines in PR
        target: 80%
        threshold: 5%
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches:
    - main
    - develop
    - staging

flags:
  unittests:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1
  
  e2e:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/*.d.ts"
  - "**/types/**"
  - "**/config/**"
  - "**/scripts/**"

# Component Management (shows coverage per component)
component_management:
  individual_components:
    - component_id: frontend_components
      name: Frontend Components
      paths:
        - apps/frontend/src/components/**
    - component_id: frontend_hooks
      name: Frontend Hooks
      paths:
        - apps/frontend/src/hooks/**
        - apps/frontend/src/lib/hooks/**
    - component_id: frontend_lib
      name: Frontend Libraries
      paths:
        - apps/frontend/src/lib/**
    - component_id: frontend_api
      name: Frontend API Routes
      paths:
        - apps/frontend/src/app/api/**

# GitHub Checks
github_checks:
  annotations: true

fix: Add missing customizer constants and types files
  apps/frontend/src/app/(dashboard)/dashboard/customizer/constants.ts
  apps/frontend/src/app/(dashboard)/dashboard/customizer/types.ts
Due: unittests, e2e

fix: Update VIEW_MODES keys to match usage
  apps/frontend/src/app/(dashboard)/dashboard/customizer/constants.ts
Due: unittests, e2e

fix: Add missing properties to ProductFilters interface
  apps/frontend/src/app/(dashboard)/dashboard/customizer/types.ts
Due: unittests, e2e

fix: Add order property to Layer interface
  apps/frontend/src/app/(dashboard)/dashboard/customizer/types.ts
Due: unittests, e2e

fix: Update DesignTemplate interface to match hook usage
  apps/frontend/src/app/(dashboard)/dashboard/customizer/types.ts
Due: unittests, e2e

fix: Add video, texture, pattern types to Asset interface
  apps/frontend/src/app/(dashboard)/dashboard/customizer/types.ts
Due: unittests, e2e

fix: Add thumbnail property to Asset interface
  apps/frontend/src/app/(dashboard)/dashboard/customizer/types.ts
Due: unittests, e2e

fix: Update icon prop type in TikTok MetricCard
  apps/frontend/src/app/(super-admin)/admin/ads/tiktok/page.tsx
Due: unittests, e2e

fix: Use correct property paths for AdminOverviewData in advanced analytics
  apps/frontend/src/app/(super-admin)/admin/analytics/advanced/page.tsx
Due: unittests, e2e

fix: Add index signature to AreaDataPoint interface
  apps/frontend/src/app/(super-admin)/admin/analytics/advanced/page.tsx
Due: unittests, e2e

fix: Rename _reportType to reportType in generateFallbackData
  apps/frontend/src/app/api/analytics/export/route.ts
Due: unittests, e2e, Frontend API Routes

fix: Add missing fields to AnalyticsExportSchema
  apps/frontend/src/lib/validations/api-schemas.ts
Due: unittests, e2e, Frontend Libraries

fix: Add pdf to format enum in AnalyticsExportSchema
  apps/frontend/src/lib/validations/api-schemas.ts
Due: unittests, e2e, Frontend Libraries

fix: Use correct assertOwnership signature with order.userId
  apps/frontend/src/app/api/pod/[provider]/submit/route.ts
Due: unittests, e2e, Frontend API Routes

fix: Add missing properties to analytics fallback data
  apps/frontend/src/hooks/use-analytics.ts
Due: unittests, e2e, Frontend Hooks

fix: Simplify Vercel install command to use frozen-lockfile
  vercel.json
Due: none

fix: Regenerate pnpm-lock.yaml for clean dependency resolution
  pnpm-lock.yaml
Due: none

fix: Remove frozen-lockfile from Vercel install command
  vercel.json
Due: none

fix: Remove duplicate pnpm-lock.yaml from frontend folder
  apps/frontend/pnpm-lock.yaml
Due: none

fix: Use filter to install only frontend deps on Vercel
  vercel.json
Due: none

fix: Remove incorrect .data wrapper in TwoFactorAuth setup
  apps/frontend/src/lib/security/TwoFactorAuth.ts
Due: unittests, e2e, Frontend Libraries

fix: resolve TypeScript errors in health-check, TwoFactorAuth and NotificationService
  apps/frontend/src/lib/monitoring/health-check.ts
  apps/frontend/src/lib/security/TwoFactorAuth.ts
  apps/frontend/src/lib/services/NotificationService.ts
Due: unittests, e2e, Frontend Libraries

feat: Add AI monitoring models, billing commission service and order DTO
  apps/backend/prisma/schema.prisma
  apps/backend/src/modules/billing/services/commission.service.ts
  apps/backend/src/modules/orders/dto/create-order.dto.ts
Due: none

feat: complete Stripe integration and billing system optimization
  apps/backend/.env.example
  apps/backend/src/config/configuration.ts
  apps/backend/src/main.ts
  apps/backend/src/modules/billing/billing.module.ts
  apps/backend/src/modules/billing/billing.service.ts
  apps/backend/src/modules/billing/services/commission.service.ts
  apps/backend/src/modules/orders/orders.module.ts
  apps/backend/src/modules/plans/plans.service.ts
  apps/backend/src/modules/webhooks/webhooks.controller.ts
  apps/backend/src/modules/webhooks/webhooks.module.ts
  apps/backend/src/serverless.ts
Due: none

fix: disable AgentsModule and ObservabilityModule to fix build
  apps/backend/src/app.module.ts
  apps/backend/tsconfig.build.json
Due: none

fix: disable AgentsModule dependencies for production build
  apps/backend/prisma/schema.prisma
  apps/backend/src/modules/analytics/analytics.module.ts
  apps/backend/src/modules/orders/services/discount.service.ts
  apps/backend/tsconfig.build.json
Due: none

fix: add HttpModule import to ArStudioModule
  apps/backend/src/modules/ar/ar-studio.module.ts
Due: none

fix: improve Redis URL validation to handle invalid/incomplete URLs
  apps/backend/src/libs/redis/redis-optimized.service.ts
Due: none

perf: implement async email queue with BullMQ
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/email/email.module.ts
  apps/backend/src/modules/email/email.processor.ts
  apps/backend/src/modules/email/email.service.ts
Due: none

fix(security): Sprint 0 - Critical security hotfixes and schema corrections
  .temp-env-value.txt
  apps/backend/.env.backup.1760559310
  apps/backend/.env.production.bak
  apps/backend/final-validation.sh
  apps/backend/prisma/schema.prisma
  apps/backend/scripts/auto-deploy-hetzner.sh
  apps/backend/scripts/configure-production-expert-automated.sh
  apps/backend/scripts/deploy-final.sh
  apps/backend/scripts/deploy-hetzner-complete.sh
  apps/backend/scripts/deploy-with-password.sh
  apps/backend/scripts/manual-deploy-commands.sh
  apps/backend/scripts/quick-deploy.sh
  apps/backend/scripts/setup-hetzner-cloudflare.sh
  apps/backend/scripts/setup-hetzner-env.sh
  apps/backend/scripts/setup-production-complete.sh
  apps/backend/src/main.ts
  apps/backend/src/modules/agents/ai-monitor/services/analytics.service.ts
  apps/backend/src/modules/agents/ai-monitor/services/tracker.service.ts
  apps/backend/src/modules/agents/usage-guardian/services/billing-sync.service.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/billing/billing.service.ts
  apps/backend/tsconfig.json
  apps/frontend/.env.vercel
  scripts/configure-services-auto.sh
  scripts/configure-services-terminal.sh
Due: none

fix(vercel): pin Node.js version to 20.x for canvas compatibility
  apps/frontend/.nvmrc
  apps/frontend/package.json
Due: none

fix(vercel): pin Node.js 20.x in root package.json
  .nvmrc
  package.json
Due: none

fix(vercel): add --ignore-scripts to skip canvas compilation
  vercel.json
Due: none

fix(vercel): use npx prisma generate with explicit schema path
  vercel.json
Due: none

fix(vercel): use --no-frozen-lockfile instead of --ignore-scripts
  vercel.json
Due: none

fix(vercel): generate prisma in install step, simplify build
  vercel.json
Due: none

fix(vercel): allow install to fail partially, ensure prisma generates
  vercel.json
Due: none

fix: allow app to start with invalid Stripe config in degraded mode
  apps/backend/src/modules/billing/billing.service.ts
Due: none
