Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

fix: usage metering persistence and quota alerts
  apps/backend/src/modules/usage-billing/services/quotas.service.ts
  apps/backend/src/modules/usage-billing/services/usage-metering.service.ts
Due: none

fix: eliminate unnecessary 401 errors on /auth/me endpoint
  apps/frontend/src/app/(dashboard)/layout.tsx
  apps/frontend/src/hooks/useAuth.tsx
  apps/frontend/src/lib/hooks/useAuth.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: sync lockfile and protect Vercel deployment quota
  .cursorignore
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-vercel-frontend.yml
  packages/virtual-try-on/package.json
  pnpm-lock.yaml
Due: none

fix: make bundle-analyzer import conditional for Vercel production builds
  apps/frontend/next.config.mjs
Due: none

fix: remove cloudinary built-in loader to fix Vercel build
  apps/frontend/next.config.mjs
Due: none

fix: use non-capturing groups in Next.js header route patterns
  apps/frontend/next.config.mjs
Due: none

fix: replace invalid regex route pattern with header-based matching
  apps/frontend/next.config.mjs
Due: none

fix: pin Node.js to 22.x and skip TS/ESLint errors during Vercel build
  apps/frontend/next.config.mjs
  package.json
Due: none

fix: resolve duplicate /integrations route conflict
  apps/frontend/src/app/(public)/integrations-overview/page.tsx
  apps/frontend/src/app/(public)/integrations/page.tsx
Due: unittests, e2e

fix: add 'use client' to Toaster component
  apps/frontend/src/components/ui/toaster.tsx
Due: unittests, e2e, Frontend Components

fix: set PNPM_HOME in Dockerfile to fix global install
  Dockerfile
Due: none

fix: remove pnpm setup from Dockerfile (PNPM_HOME already set via ENV)
  Dockerfile
Due: none

fix: use SWC builder for backend to skip TS type-checking in Docker
  Dockerfile
Due: none

fix: Railway backend Dockerfile + close 4 audit gaps
  .github/workflows/deploy-staging.yml
  .github/workflows/security-scan.yml
  Dockerfile
  apps/backend/tsconfig.docker.json
  apps/frontend/src/app/api/realtime/events/route.ts
Due: unittests, e2e, Frontend API Routes

fix: align app.module.ts with tsconfig.build.json excludes + harden production fallbacks
  .cursorignore
  apps/backend/src/app.module.ts
  apps/backend/src/modules/analytics/analytics.module.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/tsconfig.docker.json
  apps/frontend/next.config.mjs
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/api/server-url.ts
Due: unittests, e2e, Frontend Libraries

feat: add Projects dashboard page + API client endpoints
  apps/frontend/src/app/(dashboard)/dashboard/projects/ProjectsPageClient.tsx
  apps/frontend/src/app/(dashboard)/dashboard/projects/components/ProjectsEmptyState.tsx
  apps/frontend/src/app/(dashboard)/dashboard/projects/components/ProjectsHeader.tsx
  apps/frontend/src/app/(dashboard)/dashboard/projects/components/ProjectsSkeleton.tsx
  apps/frontend/src/app/(dashboard)/dashboard/projects/components/ProjectsStats.tsx
  apps/frontend/src/app/(dashboard)/dashboard/projects/components/ProjectsTable.tsx
  apps/frontend/src/app/(dashboard)/dashboard/projects/components/modals/CreateProjectModal.tsx
  apps/frontend/src/app/(dashboard)/dashboard/projects/components/modals/EditProjectModal.tsx
  apps/frontend/src/app/(dashboard)/dashboard/projects/error.tsx
  apps/frontend/src/app/(dashboard)/dashboard/projects/hooks/useProjects.ts
  apps/frontend/src/app/(dashboard)/dashboard/projects/loading.tsx
  apps/frontend/src/app/(dashboard)/dashboard/projects/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/projects/types/index.ts
  apps/frontend/src/lib/api/client.ts
Due: unittests, e2e, Frontend Libraries

fix: resolve login 500, analytics 403, srcset errors, and logo 404
  apps/backend/prisma/migrations/20260209000000_add_soft_delete_columns/migration.sql
  apps/backend/src/modules/analytics/controllers/analytics-clean.controller.ts
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/lib/cdn/cloudinary-loader.ts
  apps/frontend/src/lib/performance/image-optimization.ts
Due: unittests, e2e, Frontend Libraries

fix: add missing notificationPreferences column + update migration
  apps/backend/prisma/migrations/20260209000000_add_soft_delete_columns/migration.sql
Due: none

chore: full audit cleanup - fix gitignore, add assets, remove deprecated configs
  .github/workflows/deploy-production.yml
  .gitignore
  Dockerfile
  apps/backend/.env.example
  apps/backend/Dockerfile.production
  apps/backend/nixpacks.toml
  apps/backend/package.json
  apps/backend/railway.json
  apps/backend/src/config/configuration.ts
  apps/backend/vercel.json
  apps/backend/wrangler.toml
  apps/frontend/.env.example
  apps/frontend/public/apple-touch-icon.png
  apps/frontend/public/favicon.png
  apps/frontend/public/icon-192x192.png
  apps/frontend/public/icon-512x512.png
  apps/frontend/public/logo.png
  apps/frontend/public/og-image.png
  apps/frontend/public/placeholder-model.svg
  apps/frontend/public/placeholder-template.svg
  apps/frontend/public/sw.js
  apps/frontend/src/app/error.tsx
  apps/frontend/wrangler.toml
  nixpacks.toml
  vercel.json
  wrangler.toml
Due: unittests, e2e

fix: add missing lint script to backend + make CI non-blocking
  .github/workflows/deploy-production.yml
  apps/backend/package.json
Due: none

fix: restore || true in Dockerfile build step (tsc exits non-zero on warnings)
  Dockerfile
Due: none

feat: fix analytics/pricing bugs + premium auth redesign + mega-menu
  apps/backend/src/modules/analytics/controllers/analytics-clean.controller.ts
  apps/backend/src/modules/analytics/dto/track-event.dto.ts
  apps/backend/src/modules/analytics/dto/web-vitals.dto.ts
  apps/frontend/src/app/(auth)/forgot-password/page.tsx
  apps/frontend/src/app/(auth)/layout.tsx
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/app/(auth)/reset-password/page.tsx
  apps/frontend/src/app/(public)/pricing/components/PricingPlanCard.tsx
  apps/frontend/src/app/(public)/pricing/data.ts
  apps/frontend/src/components/marketing/home/navigation.tsx
  apps/frontend/src/lib/web-vitals.ts
Due: unittests, e2e, Frontend Components, Frontend Libraries

fix: handle anonymous analytics events + make web-vitals endpoint public
  apps/backend/src/modules/analytics/controllers/analytics.controller.ts
  apps/backend/src/modules/analytics/services/analytics-clean.service.ts
  apps/backend/src/modules/analytics/services/analytics.service.ts
Due: none

fix: make timestamp optional in RecordWebVitalDto
  apps/backend/src/modules/analytics/dto/record-web-vital.dto.ts
Due: none

feat: complete UX/UI redesign - dark theme, responsive polish, animation system
  apps/frontend/public/apple-touch-icon.png
  apps/frontend/public/favicon.png
  apps/frontend/public/icon-192x192.png
  apps/frontend/public/icon-512x512.png
  apps/frontend/public/logo.png
  apps/frontend/public/og-image.png
  apps/frontend/src/app/(auth)/forgot-password/page.tsx
  apps/frontend/src/app/(auth)/layout.tsx
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/app/(auth)/register/page.tsx
  apps/frontend/src/app/(auth)/reset-password/page.tsx
  apps/frontend/src/app/(public)/contact/page.tsx
  apps/frontend/src/app/(public)/features/page.tsx
  apps/frontend/src/app/(public)/layout.tsx
  apps/frontend/src/app/(public)/pricing/components/PricingCTA.tsx
  apps/frontend/src/app/(public)/pricing/components/PricingFAQ.tsx
  apps/frontend/src/app/(public)/pricing/components/PricingFeatureTable.tsx
  apps/frontend/src/app/(public)/pricing/components/PricingHero.tsx
  apps/frontend/src/app/(public)/pricing/components/PricingPlanCard.tsx
  apps/frontend/src/app/(public)/pricing/page.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/Logo.tsx
  apps/frontend/src/components/marketing/home/cta-section-new.tsx
  apps/frontend/src/components/marketing/home/demo-modules-section.tsx
  apps/frontend/src/components/marketing/home/features-section-new.tsx
  apps/frontend/src/components/marketing/home/footer-new.tsx
  apps/frontend/src/components/marketing/home/hero-section-new.tsx
  apps/frontend/src/components/marketing/home/how-it-works-new.tsx
  apps/frontend/src/components/marketing/home/navigation.tsx
  apps/frontend/src/components/marketing/home/pricing-section-new.tsx
  apps/frontend/src/components/marketing/home/testimonials-new.tsx
  apps/frontend/src/components/marketing/shared/feature-card.tsx
  apps/frontend/src/components/marketing/shared/page-hero.tsx
  apps/frontend/src/components/marketing/shared/scroll-reveal.tsx
  apps/frontend/src/components/marketing/shared/section-header.tsx
  apps/frontend/tailwind.config.cjs
Due: unittests, e2e, Frontend Components

fix: JSX syntax error in social-media page (extra closing div)
  apps/frontend/src/app/(public)/solutions/social-media/page.tsx
Due: unittests, e2e

fix: import PlansModule in ProductsModule and DesignsModule
  apps/backend/src/modules/designs/designs.module.ts
  apps/backend/src/modules/products/products.module.ts
Due: none

fix: UI visibility improvements - nav white text, animated borders glow, partner logos
  apps/frontend/src/components/marketing/home/hero-section-new.tsx
  apps/frontend/src/components/marketing/home/navigation.tsx
  apps/frontend/src/components/marketing/shared/partner-logos.tsx
  apps/frontend/src/components/ui/animated-border.tsx
  apps/frontend/tailwind.config.cjs
Due: unittests, e2e, Frontend Components

feat: UX/UI corrections + deployment optimizations
  apps/frontend/next.config.mjs
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/AIStudioPageClient.tsx
  apps/frontend/src/app/(dashboard)/dashboard/analytics-advanced/AnalyticsAdvancedPageClient.tsx
  apps/frontend/src/app/(dashboard)/dashboard/notifications/components/NotificationCard.tsx
  apps/frontend/src/app/(dashboard)/dashboard/notifications/components/NotificationsFiltersBar.tsx
  apps/frontend/src/app/(dashboard)/dashboard/notifications/components/NotificationsHeader.tsx
  apps/frontend/src/app/(dashboard)/dashboard/notifications/components/NotificationsListSection.tsx
  apps/frontend/src/app/(dashboard)/dashboard/notifications/components/NotificationsModals.tsx
  apps/frontend/src/app/(dashboard)/dashboard/notifications/components/NotificationsPreferencesTab.tsx
  apps/frontend/src/app/(dashboard)/dashboard/notifications/components/NotificationsStatsGrid.tsx
  apps/frontend/src/app/(dashboard)/dashboard/notifications/components/constants.tsx
  apps/frontend/src/app/(dashboard)/dashboard/notifications/components/types.ts
  apps/frontend/src/app/(dashboard)/dashboard/notifications/error.tsx
  apps/frontend/src/app/(dashboard)/dashboard/notifications/hooks/useNotificationsPage.ts
  apps/frontend/src/app/(dashboard)/dashboard/notifications/loading.tsx
  apps/frontend/src/app/(dashboard)/dashboard/notifications/page.tsx
  apps/frontend/src/app/(dashboard)/overview/page.tsx
  apps/frontend/src/app/(super-admin)/admin/ads/tiktok/page.tsx
  apps/frontend/src/app/(super-admin)/admin/analytics/advanced/page.tsx
  apps/frontend/src/app/(super-admin)/admin/error.tsx
  apps/frontend/src/app/(super-admin)/admin/marketing/page.tsx
  apps/frontend/src/app/(super-admin)/admin/settings/page.tsx
  apps/frontend/src/components/dashboard/Sidebar.tsx
  apps/frontend/src/components/marketing/home/cta-section-new.tsx
  apps/frontend/src/components/marketing/home/footer-new.tsx
  apps/frontend/src/components/marketing/home/hero-section-new.tsx
  apps/frontend/src/components/marketing/home/how-it-works-new.tsx
  apps/frontend/src/components/marketing/home/logo-watermark-section.tsx
  apps/frontend/src/components/marketing/home/navigation.tsx
  apps/frontend/src/components/marketing/home/pricing-section-new.tsx
  apps/frontend/src/components/marketing/home/testimonials-new.tsx
  apps/frontend/src/components/shared/SoftPlanGate.tsx
  apps/frontend/src/components/ui/animated-border.tsx
  apps/frontend/src/lib/hooks/useAuth.ts
  apps/frontend/src/lib/utils/role-redirect.ts
  railway.toml
  vercel.json
Due: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries

fix: apply white variant to Connexion button + force redeploy
  apps/frontend/src/components/marketing/home/navigation.tsx
Due: unittests, e2e, Frontend Components

fix: layout shift (content pushed right) + CORS 403 on OPTIONS
  apps/backend/env.example
  apps/backend/src/common/guards/global-rate-limit.guard.ts
  apps/backend/src/libs/rate-limit/rate-limit.guard.ts
  apps/backend/src/main.ts
  apps/frontend/src/app/(public)/layout.tsx
  apps/frontend/src/app/(public)/page.tsx
  apps/frontend/src/components/marketing/shared/partner-logos.tsx
  apps/frontend/src/styles/fixes.css
Due: unittests, e2e, Frontend Components

fix: admin redirect flow, server-side token refresh, log noise reduction
  apps/backend/src/libs/rate-limit/rate-limit.guard.ts
  apps/backend/src/modules/auth/services/brute-force.service.ts
  apps/frontend/middleware.ts
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/lib/auth/get-user.ts
  apps/frontend/src/lib/pwa/register-service-worker.ts
Due: unittests, e2e, Frontend Libraries

fix: critical admin auth fixes - CSP, cookie path, token refresh
  apps/backend/src/modules/auth/auth-cookies.helper.ts
  apps/frontend/middleware.ts
  apps/frontend/src/hooks/useAuth.tsx
  apps/frontend/src/lib/security/csp-nonce.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: interceptor 401 bypass for auth endpoints, login error display
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/hooks/useAuth.tsx
  apps/frontend/src/lib/api/client.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

Path conditions:
  unittests: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  e2e: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Components: any of: apps/frontend/src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Hooks: any of: apps/frontend/src/hooks/**, apps/frontend/src/lib/hooks/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Libraries: any of: apps/frontend/src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend API Routes: any of: apps/frontend/src/app/api/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
