Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

docs: Documentation des corrections billing pour production
  CORRECTIONS_BILLING_PRODUCTION.md
Due: none

fix(billing): Correction finale isLoading->isPending et styles dark mode
  apps/frontend/src/app/(dashboard)/billing/page.tsx
Due: unittests, e2e

fix: Correction import db dans ab-testing router + Audit complet liens/API
  AUDIT_COMPLET_LIENS_API.md
  apps/frontend/src/lib/trpc/routers/ab-testing.ts
Due: unittests, e2e, Frontend Libraries

fix: Correction liens et appels tRPC incorrects
  apps/frontend/src/app/(dashboard)/products/page.tsx
  apps/frontend/src/app/(public)/w/[brandId]/[productId]/page.tsx
Due: unittests, e2e

fix: Correction double import trpcVanilla
  apps/frontend/src/app/(public)/integrations/woocommerce/page.tsx
  apps/frontend/src/app/(public)/w/[brandId]/[productId]/page.tsx
Due: unittests, e2e

docs: Plan d'audit des éléments restants à analyser
  AUDIT_ELEMENTS_RESTANTS.md
Due: none

docs: Guide de correction sécurité et TypeScript
  CORRECTIONS_SECURITE_TYPESCRIPT.md
Due: none

docs: Corrections appliquées sécurité et TypeScript
  CORRECTIONS_APPLIQUEES.md
Due: none

docs: Résumé exécutif audit complet
  AUDIT_COMPLET_RESUME.md
Due: none

docs: Audit complet API - 100% valides
  AUDIT_API_COMPLET_100.md
Due: none

feat: mise à jour logo, favicon et proposition de valeur
  apps/frontend/public/favicon.png
  apps/frontend/public/logo.png
  apps/frontend/src/app/(public)/page.tsx
  apps/frontend/src/components/HeroBannerOptimized.tsx
Due: unittests, e2e, Frontend Components

fix: correction z-index menu déroulant et amélioration ergonomie
  apps/frontend/src/components/navigation/ZakekeStyleNav.tsx
Due: unittests, e2e, Frontend Components

feat: nouveau menu professionnel de A à Z
  apps/frontend/src/components/navigation/ProfessionalNav.tsx
Due: unittests, e2e, Frontend Components

fix: correction définitive menus déroulants - position fixed et z-index élevé
  apps/frontend/src/components/HeroBannerOptimized.module.css
  apps/frontend/src/components/navigation/ProfessionalNav.tsx
Due: unittests, e2e, Frontend Components

feat: menu inspiré strictement de Clerk.com
  apps/frontend/src/app/(public)/layout.tsx
  apps/frontend/src/components/navigation/ClerkStyleNav.tsx
Due: unittests, e2e, Frontend Components

fix: correction bugs affichage menus + traduction française
  apps/frontend/src/components/navigation/ClerkStyleNav.tsx
Due: unittests, e2e, Frontend Components

fix: corrections multiples menu et hero
  apps/frontend/src/app/(public)/page.tsx
  apps/frontend/src/components/HeroBannerOptimized.module.css
  apps/frontend/src/components/navigation/ClerkStyleNav.tsx
Due: unittests, e2e, Frontend Components

fix: z-index boutons menu pour rester visibles au-dessus des dropdowns
  apps/frontend/src/components/navigation/ClerkStyleNav.tsx
Due: unittests, e2e, Frontend Components

fix: correction massive erreurs 404
  apps/frontend/middleware.ts
  apps/frontend/next.config.mjs
  apps/frontend/src/app/api/robots/route.ts
  apps/frontend/src/app/robots.ts
  apps/frontend/src/app/sitemap.ts
  apps/frontend/vercel.json
Due: unittests, e2e, Frontend API Routes

fix: ajout route API sitemap pour éviter 404
  apps/frontend/src/app/api/sitemap/route.ts
Due: unittests, e2e, Frontend API Routes

docs: documentation complète correction 404
  apps/frontend/CORRECTION_404_COMPLETE.md
Due: none

fix: suppression du doublon /dashboard/page.tsx pour résoudre le conflit de routes
  apps/frontend/src/app/dashboard/page.tsx
Due: unittests, e2e

feat: création des pages industries/printing et industries/jewellery avec design professionnel
  apps/frontend/DEPLOIEMENT_PRODUCTION_COMPLET.md
  apps/frontend/src/app/(public)/industries/jewellery/page.tsx
  apps/frontend/src/app/(public)/industries/printing/page.tsx
  apps/frontend/vercel.json
Due: unittests, e2e

docs: documentation complète de la correction des 404
  apps/frontend/CORRECTION_404_COMPLETE.md
Due: none

feat: création de toutes les pages dashboard manquantes avec APIs complètes
  apps/frontend/src/app/(dashboard)/dashboard/analytics/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/billing/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/integrations-dashboard/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/library/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/orders/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/products/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/settings/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/team/page.tsx
Due: unittests, e2e

feat: plan développement complet + pages monitoring/support + APIs backend
  PLAN_DEVELOPPEMENT_COMPLET_EXHAUSTIF.md
  apps/frontend/CREATION_PAGES_DASHBOARD_COMPLETE.md
  apps/frontend/src/app/(dashboard)/dashboard/monitoring/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/support/page.tsx
  apps/frontend/src/app/api/monitoring/metrics/route.ts
  apps/frontend/src/app/api/support/tickets/route.ts
Due: unittests, e2e, Frontend API Routes

feat: modules Monitoring et Support backend complets (2,200+ lignes)
  apps/backend/prisma/schema-monitoring-support.prisma
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/modules/monitoring/dto/create-alert-rule.dto.ts
  apps/backend/src/modules/monitoring/dto/create-alert.dto.ts
  apps/backend/src/modules/monitoring/dto/get-metrics.dto.ts
  apps/backend/src/modules/monitoring/monitoring.controller.ts
  apps/backend/src/modules/monitoring/monitoring.module.ts
  apps/backend/src/modules/monitoring/monitoring.service.ts
  apps/backend/src/modules/monitoring/services/alerts.service.ts
  apps/backend/src/modules/monitoring/services/metrics.service.ts
  apps/backend/src/modules/support/dto/create-message.dto.ts
  apps/backend/src/modules/support/dto/create-ticket.dto.ts
  apps/backend/src/modules/support/dto/update-ticket.dto.ts
  apps/backend/src/modules/support/services/knowledge-base.service.ts
  apps/backend/src/modules/support/services/tickets.service.ts
  apps/backend/src/modules/support/support.controller.ts
  apps/backend/src/modules/support/support.module.ts
  apps/backend/src/modules/support/support.service.ts
Due: none

feat: hooks Monitoring et Support frontend (500+ lignes)
  RESUME_DEVELOPPEMENT_COMPLET.md
  apps/frontend/src/lib/hooks/useMonitoring.ts
  apps/frontend/src/lib/hooks/useSupport.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

feat: page Monitoring frontend complète niveau entreprise (600+ lignes)
  apps/frontend/src/app/(dashboard)/dashboard/monitoring/page.tsx
Due: unittests, e2e

feat: page Support frontend complète niveau entreprise (860+ lignes)
  apps/frontend/src/app/(dashboard)/dashboard/support/page.tsx
Due: unittests, e2e

docs: documentation complète développement (5,500+ lignes)
  DEVELOPPEMENT_COMPLET_FINAL.md
Due: none

feat: routes API frontend Monitoring et Support complètes
  apps/frontend/src/app/api/monitoring/alerts/[id]/acknowledge/route.ts
  apps/frontend/src/app/api/monitoring/alerts/[id]/resolve/route.ts
  apps/frontend/src/app/api/monitoring/dashboard/route.ts
  apps/frontend/src/app/api/support/knowledge-base/articles/route.ts
  apps/frontend/src/app/api/support/tickets/[id]/messages/route.ts
  apps/frontend/src/app/api/support/tickets/[id]/route.ts
Due: unittests, e2e, Frontend API Routes

docs: statistiques finales développement complet
  STATISTIQUES_FINALES.md
Due: none

docs: plan développement complet toutes les pages dashboard (64,000+ lignes estimées)
  PLAN_DEVELOPPEMENT_DASHBOARD_COMPLET.md
Due: none

docs: analyse architecture complète et plan développement étape par étape
  ANALYSE_ARCHITECTURE_COMPLETE.md
  PLAN_DEVELOPPEMENT_ETAPE_PAR_ETAPE.md
Due: none

feat: page Products complète niveau entreprise (1,660 lignes)
  apps/frontend/src/app/(dashboard)/dashboard/products/page.tsx
Due: unittests, e2e

feat: APIs backend Products complètes avec DTOs (500+ lignes)
  apps/backend/src/modules/products/dto/create-product.dto.ts
  apps/backend/src/modules/products/dto/product-query.dto.ts
  apps/backend/src/modules/products/dto/update-product.dto.ts
  apps/backend/src/modules/products/products.controller.ts
  apps/backend/src/modules/products/products.service.ts
Due: none

feat: page Orders complète niveau entreprise mondiale (2,500+ lignes)
  apps/frontend/src/app/(dashboard)/dashboard/orders/page.tsx
  apps/frontend/src/components/orders/OrderPredictiveAnalytics.tsx
  apps/frontend/src/components/orders/OrderWorkflowAutomation.tsx
Due: unittests, e2e, Frontend Components

feat: page Analytics complète niveau entreprise mondiale (2,000+ lignes)
  apps/frontend/src/app/(dashboard)/dashboard/analytics/page.tsx
  apps/frontend/src/components/charts/ChartCard.tsx
  apps/frontend/src/lib/trpc/routers/_app.ts
  apps/frontend/src/lib/trpc/routers/analytics.ts
Due: unittests, e2e, Frontend Components, Frontend Libraries

Path conditions:
  unittests: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  e2e: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Components: any of: apps/frontend/src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Hooks: any of: apps/frontend/src/hooks/**, apps/frontend/src/lib/hooks/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Libraries: any of: apps/frontend/src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend API Routes: any of: apps/frontend/src/app/api/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
