Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

fix: Copier Prisma Client depuis builder (créer répertoire d'abord)
  Dockerfile
Due: none

fix: Simplifier copie Prisma Client (node_modules existe déjà)
  Dockerfile
Due: none

fix: Ajouter retries pour pnpm install (gérer erreurs réseau temporaires)
  Dockerfile
Due: none

feat: Adaptation du Header et Layout dashboard au nouveau design system
  apps/frontend/src/app/(dashboard)/layout.tsx
  apps/frontend/src/components/dashboard/Header.tsx
Due: unittests, e2e, Frontend Components

feat: Adaptation de la page overview dashboard au nouveau design
  STATUS_DASHBOARD_ADAPTATION.md
  apps/frontend/src/app/(dashboard)/overview/page.tsx
Due: unittests, e2e

fix: Corriger option pnpm (network-timeout -> fetch-timeout)
  Dockerfile
Due: none

fix: Gérer copie Prisma Client avec vérification d'existence
  Dockerfile
Due: none

fix: Utiliser RUN --mount pour copier Prisma Client conditionnellement
  Dockerfile
Due: none

fix: Utiliser tar pour copier Prisma Client (évite erreurs COPY si répertoire absent)
  Dockerfile
Due: none

fix: Correction des erreurs de syntaxe JSX dans ai-design-hub et customizer
  apps/frontend/src/app/(public)/solutions/ai-design-hub/page.tsx
  apps/frontend/src/app/(public)/solutions/customizer/page.tsx
Due: unittests, e2e

fix: Ajouter logs debug pour copie Prisma Client et chercher dans tous node_modules
  Dockerfile
Due: none

docs: Documentation du déploiement Vercel
  STATUS_DEPLOIEMENT_VERCEL.md
Due: none

fix: Installer prisma en production et améliorer script démarrage pour générer Prisma Client si absent
  Dockerfile
Due: none

fix: Générer Prisma Client directement en production avec plusieurs fallbacks
  Dockerfile
Due: none

fix: Utiliser tar Prisma Client créé dans builder (7.8M) au lieu de régénérer
  Dockerfile
Due: none

fix: Ajout Navigation et FooterNew au layout auth pour cohérence design
  apps/frontend/src/app/(auth)/layout.tsx
Due: unittests, e2e

docs: Documentation du déploiement automatique
  DEPLOIEMENT_AUTOMATIQUE.md
Due: none

fix: Protéger Prisma Client du nettoyage et ajouter vérification LLMProvider
  Dockerfile
  apps/backend/src/modules/agents/services/llm-cost-calculator.service.ts
Due: none

fix: Créer fichier séparé pour LLMProvider enum pour éviter import circulaire
  apps/backend/src/modules/agents/services/llm-cost-calculator.service.ts
  apps/backend/src/modules/agents/services/llm-provider.enum.ts
  apps/backend/src/modules/agents/services/llm-router.service.ts
Due: none

fix: Utiliser forwardRef pour AgentsModule et améliorer extraction Prisma Client
  Dockerfile
  apps/backend/src/modules/analytics/analytics.module.ts
Due: none

fix: Adaptation complète du layout auth au nouveau design system
  apps/frontend/src/app/(auth)/layout.tsx
Due: unittests, e2e

fix: Adaptation de la page register au nouveau design system
  apps/frontend/src/app/(auth)/register/page.tsx
Due: unittests, e2e

docs: Documentation adaptation pages auth
  ADAPTATION_PAGES_AUTH.md
Due: none

fix: Ajouter AiModule dans AriaModule, LunaModule et NovaModule pour LLMRouterService
  Dockerfile
  apps/backend/src/modules/agents/aria/aria.module.ts
  apps/backend/src/modules/agents/luna/luna.module.ts
  apps/backend/src/modules/agents/nova/nova.module.ts
Due: none

fix: Adaptation de la page login au nouveau design system
  apps/frontend/src/app/(auth)/login/page.tsx
Due: unittests, e2e

fix: Correction finale page login - Titre et checkbox
  apps/frontend/src/app/(auth)/login/page.tsx
Due: unittests, e2e

fix: Utiliser AgentsModule au lieu de déclarer LLMRouterService localement pour éviter dépendances manquantes
  apps/backend/src/modules/agents/aria/aria.module.ts
  apps/backend/src/modules/agents/luna/luna.module.ts
  apps/backend/src/modules/agents/nova/nova.module.ts
Due: none

fix: Utiliser forwardRef dans AgentsModule pour éviter dépendance circulaire
  apps/backend/src/modules/agents/agents.module.ts
Due: none

fix: Utiliser @Optional() pour le paramètre options de CircuitBreakerService
  apps/backend/src/modules/agents/services/circuit-breaker.service.ts
Due: none

fix: Supprimer paramètre du constructeur CircuitBreakerService pour éviter injection NestJS
  apps/backend/src/modules/agents/services/circuit-breaker.service.ts
Due: none

fix: Supprimer options du constructeur CircuitBreakerService dans llm-router
  apps/backend/src/modules/agents/services/llm-router.service.ts
Due: none

fix: Rendre variables Shopify optionnelles pour éviter erreur au démarrage
  apps/backend/src/modules/integrations/shopify/shopify.service.ts
Due: none

fix: Ajouter binaryTarget linux-musl-openssl-3.0.x pour Railway
  apps/backend/prisma/schema.prisma
Due: none

fix: Correction finale page register - Tous les éléments adaptés au nouveau design
  apps/frontend/src/app/(auth)/register/page.tsx
Due: unittests, e2e

fix: Correction complète page register - Tous les labels et icônes adaptés
  apps/frontend/src/app/(auth)/register/page.tsx
Due: unittests, e2e

Path conditions:
  unittests: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  e2e: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Components: any of: apps/frontend/src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Hooks: any of: apps/frontend/src/hooks/**, apps/frontend/src/lib/hooks/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Libraries: any of: apps/frontend/src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend API Routes: any of: apps/frontend/src/app/api/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
