Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

codecov.yml:

# Codecov Configuration
# T-005: Int√©grer Codecov pour rapports de couverture

# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        # Overall project coverage target
        target: 70%
        threshold: 2%
        if_ci_failed: error
        only_pulls: false
    patch:
      default:
        # Coverage on changed lines in PR
        target: 80%
        threshold: 5%
        if_ci_failed: error
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  branches:
    - main
    - develop
    - staging

flags:
  unittests:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1
  
  e2e:
    paths:
      - apps/frontend/src/
    carryforward: true
    after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/*.d.ts"
  - "**/types/**"
  - "**/config/**"
  - "**/scripts/**"

# Component Management (shows coverage per component)
component_management:
  individual_components:
    - component_id: frontend_components
      name: Frontend Components
      paths:
        - apps/frontend/src/components/**
    - component_id: frontend_hooks
      name: Frontend Hooks
      paths:
        - apps/frontend/src/hooks/**
        - apps/frontend/src/lib/hooks/**
    - component_id: frontend_lib
      name: Frontend Libraries
      paths:
        - apps/frontend/src/lib/**
    - component_id: frontend_api
      name: Frontend API Routes
      paths:
        - apps/frontend/src/app/api/**

# GitHub Checks
github_checks:
  annotations: true

docs: Add script and guide to ignore Dependabot builds on Vercel
  .vercelignore-build-step.sh
  VERCEL_IGNORE_DEPENDABOT.md
Due: none

feat: Add script to help configure Vercel ignore Dependabot builds
  VERCEL_IGNORE_DEPENDABOT.md
  scripts/configure-vercel-ignore-dependabot.sh
Due: none

docs: Add quick guide to configure Vercel ignore Dependabot
  CONFIGURER_VERCEL_MAINTENANT.md
Due: none

feat: Add ignoreCommand to vercel.json to automatically ignore Dependabot builds
  apps/frontend/vercel.json
  vercel.json
Due: none

chore: Trigger test build to verify ignoreCommand configuration
  .test-build-trigger
Due: none

chore: Remove test build trigger file
  .test-build-trigger
Due: none

fix: Improve installCommand to fix lockfile issues on Vercel
  apps/frontend/vercel.json
Due: none

fix: Update installCommand order and simplify ARViewer error display
  .vercelignore-commits
  apps/frontend/src/components/ar/ARViewer.tsx
  scripts/configure-vercel-ignore-auto.js
Due: unittests, e2e, Frontend Components

fix: Simplify installCommand to avoid lockfile issues
  apps/frontend/vercel.json
Due: none

fix: Install from root directory to access pnpm-lock.yaml
  apps/frontend/vercel.json
Due: none

fix: Add fallback with --force flag for pnpm install
  apps/frontend/vercel.json
Due: none

fix: Ignore fsevents errors in install command
  apps/frontend/vercel.json
Due: none

fix: Use --force flag as fallback for pnpm install
  apps/frontend/vercel.json
Due: none

fix: Add EcommerceModule and BullMQ queue to PrestaShopModule to resolve SyncEngineService dependency
  apps/backend/src/modules/integrations/prestashop/prestashop.module.ts
Due: none

config: Disable automatic Vercel deployments - only deploy with [deploy vercel] in commit message
  DEPLOY_VERCEL.md
  apps/frontend/vercel.json
  vercel.json
Due: none

test: Trigger Vercel build [deploy vercel]
  .test-vercel-deploy
Due: none

chore: Remove test file
  .test-vercel-deploy
Due: none

fix: CORS - gestion manuelle Express pour éviter doublons headers
  apps/backend/src/main.ts
  apps/backend/src/serverless.ts
Due: none

fix: TypeScript - type de retour explicite pour middleware CORS
  apps/backend/src/main.ts
  apps/backend/src/serverless.ts
Due: none

fix: CORS - ajouter x-request-time header + plan refactorisation complète
  PLAN_REFACTORISATION_COMPLETE.md
  apps/backend/src/main.ts
  apps/backend/src/serverless.ts
Due: none

docs: Plan de refactorisation production complète (50+ pages, feature gating, design premium)
  PLAN_REFACTORISATION_PRODUCTION_COMPLETE.md
Due: none

feat: Refactorisation complète production - Auth, Dashboard, React Query, Feature Gating
  ARCHITECTURE_API_CLIENT_UNIFIE.md
  DEPLOIEMENT_PRODUCTION_FINAL.md
  PROGRESSION_OPTION_B.md
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/dto/refresh-token.dto.ts
  apps/backend/src/modules/billing/billing.module.ts
  apps/backend/src/modules/billing/billing.service.ts
  apps/frontend/src/app/(dashboard)/ai-studio/page.tsx
  apps/frontend/src/app/(dashboard)/overview/page.tsx
  apps/frontend/src/app/api/dashboard/chart-data/route.ts
  apps/frontend/src/app/api/dashboard/stats/route.ts
  apps/frontend/src/components/upgrade/UpgradePrompt.tsx
  apps/frontend/src/components/upgrade/index.ts
  apps/frontend/src/lib/backend-forward.ts
  apps/frontend/src/lib/hooks/api/index.ts
  apps/frontend/src/lib/hooks/api/useDashboard.ts
  apps/frontend/src/lib/hooks/api/useDesigns.ts
  apps/frontend/src/lib/hooks/api/useFeatureGate.ts
  apps/frontend/src/lib/hooks/api/useOrders.ts
  apps/frontend/src/lib/hooks/api/useProducts.ts
  apps/frontend/src/lib/hooks/api/useSubscription.ts
  apps/frontend/src/lib/hooks/useAuth.ts
Due: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

fix: Supprimer fichiers avec secrets et corriger useFeatureGate.tsx
  .gitignore
  DEPLOIEMENT_PRODUCTION_FINAL.md
  PROBLEME_CLE_EXPIREE.md
  STRIPE_PRODUCTION_COMPLETE.md
  STRIPE_SETUP_COMPLETE.md
  apps/frontend/railway-production-vars.txt
  apps/frontend/src/lib/hooks/api/useFeatureGate.tsx
  apps/frontend/vercel-production-vars.txt
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: Corriger erreurs TypeScript useProducts et useSubscription
  apps/frontend/src/lib/hooks/api/useProducts.ts
  apps/frontend/src/lib/hooks/api/useSubscription.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: Corriger erreur TypeScript chartData dans overview/page.tsx
  apps/frontend/src/app/(dashboard)/ai-studio/page.tsx
  apps/frontend/src/app/(dashboard)/overview/page.tsx
  apps/frontend/src/lib/hooks/api/useProducts.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: Corriger TypeScript activity.image dans overview/page.tsx
  apps/frontend/src/app/(dashboard)/overview/page.tsx
Due: unittests, e2e

fix: Corriger toutes les erreurs TypeScript avant déploiement
  apps/frontend/src/app/api/dashboard/stats/route.ts
  apps/frontend/src/components/upgrade/UpgradePrompt.tsx
  apps/frontend/src/lib/hooks/api/useFeatureGate.tsx
  apps/frontend/src/lib/hooks/api/useOrders.ts
Due: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

fix: Corriger TypeScript useOrders.ts queryFn
  apps/frontend/src/lib/hooks/api/useOrders.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: Corriger typage designsResult et ordersResult dans dashboard/stats
  apps/frontend/src/app/api/dashboard/stats/route.ts
Due: unittests, e2e, Frontend API Routes

fix: Corriger dernières erreurs TypeScript useProducts et useOrders
  apps/frontend/src/lib/hooks/api/useOrders.ts
  apps/frontend/src/lib/hooks/api/useProducts.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

feat: Add seed command to railway.toml start command
  apps/backend/railway.toml
Due: none

fix: Remove || true from migrate deploy to see migration errors
  apps/backend/railway.toml
Due: none

fix: Remove || echo from migrate deploy in Dockerfile to see migration errors
  Dockerfile
Due: none

fix: Remove startCommand to use Dockerfile CMD with /app/start.sh for migrations
  apps/backend/railway.toml
Due: none

fix: Add seed execution to Dockerfile start.sh script
  Dockerfile
Due: none

fix: Use npx instead of pnpm for migrations in main.ts (pnpm not available at runtime)
  apps/backend/src/main.ts
Due: none

fix: Use Prisma 5.22.0 binary instead of npx (avoids Prisma 7.x incompatible with schema)
  apps/backend/src/main.ts
Due: none

fix: Auto-resolve failed migrations (P3009) before applying new ones
  apps/backend/src/main.ts
Due: none

fix: Capture P3009 error message correctly with stdio pipe to auto-resolve failed migrations
  apps/backend/src/main.ts
Due: none
