Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

fix: clear remaining collaboration and clipart lint warnings
  apps/frontend/src/components/ClipartBrowser.tsx
  apps/frontend/src/components/Collaboration/CollaborativeCursors.tsx
Due: unittests, e2e, Frontend Components

fix: clean remaining shared component lint issues
  apps/frontend/src/components/Collaboration/CollaborativeEditor.tsx
  apps/frontend/src/components/Collaboration/CollaboratorAvatars.tsx
  apps/frontend/src/components/Collaboration/CommentThread.tsx
  apps/frontend/src/components/CookieBanner.tsx
  apps/frontend/src/components/ErrorBoundary.tsx
  apps/frontend/src/components/ErrorBoundary/ApiErrorBoundary.tsx
  apps/frontend/src/components/GoogleAnalytics.tsx
Due: unittests, e2e, Frontend Components

fix: remove remaining analytics and template lint leftovers
  apps/frontend/src/components/TemplateGallery.tsx
  apps/frontend/src/components/admin/analytics/area-chart.tsx
  apps/frontend/src/components/admin/analytics/bar-chart.tsx
Due: unittests, e2e, Frontend Components

fix: clear remaining admin component lint warnings
  apps/frontend/src/components/admin/analytics/revenue-chart.tsx
  apps/frontend/src/components/admin/command-palette.tsx
  apps/frontend/src/components/admin/customers/customer-detail.tsx
  apps/frontend/src/components/admin/customers/customers-table.tsx
Due: unittests, e2e, Frontend Components

fix: clear admin marketing and layout lint remnants
  apps/frontend/src/components/admin/layout/admin-breadcrumbs.tsx
  apps/frontend/src/components/admin/layout/admin-header.tsx
  apps/frontend/src/components/admin/marketing/automation-builder.tsx
  apps/frontend/src/components/admin/marketing/email-template-editor.tsx
Due: unittests, e2e, Frontend Components

fix: remove AI studio and widget lint leftovers
  apps/frontend/src/components/admin/notifications-panel.tsx
  apps/frontend/src/components/admin/widgets/quick-actions.tsx
  apps/frontend/src/components/admin/widgets/recent-customers.tsx
  apps/frontend/src/components/ai/AIStudio.tsx
Due: unittests, e2e, Frontend Components

fix: remove remaining component lint and switch-case issues
  apps/frontend/src/components/analytics/AdvancedCharts.tsx
  apps/frontend/src/components/analytics/CohortChart.tsx
  apps/frontend/src/components/analytics/ExportAnalyticsModal.tsx
  apps/frontend/src/components/animations/magnetic-button.tsx
  apps/frontend/src/components/animations/text-reveal.tsx
  apps/frontend/src/components/auth/TwoFactorForm.tsx
  apps/frontend/src/components/cart/CartDrawer.tsx
  apps/frontend/src/components/charts/ChartCard.tsx
Due: unittests, e2e, Frontend Components

fix: clean dashboard, credits, chat, and chart lint leftovers
  apps/frontend/src/components/charts/LineChart.tsx
  apps/frontend/src/components/chat/ContextFilesChat.tsx
  apps/frontend/src/components/credits/CreditPacksSection.tsx
  apps/frontend/src/components/credits/UpsellModal.tsx
  apps/frontend/src/components/dashboard/AnalyticsDashboard.tsx
Due: unittests, e2e, Frontend Components

fix: clear docs and dashboard lint remnants
  apps/frontend/src/components/dashboard/DashboardNav.tsx
  apps/frontend/src/components/dashboard/Header.tsx
  apps/frontend/src/components/dashboard/RealtimeIndicator.tsx
  apps/frontend/src/components/dashboard/Sidebar.tsx
  apps/frontend/src/components/dashboard/UsageGauge.tsx
  apps/frontend/src/components/dashboard/usage-quota/utils.ts
  apps/frontend/src/components/docs/DocPageTemplate.tsx
  apps/frontend/src/components/docs/DocsSidebar.tsx
Due: unittests, e2e, Frontend Components

fix: clear layout and integration lint blockers
  apps/frontend/src/components/forms/LoginForm.tsx
  apps/frontend/src/components/integrations/IntegrationStatusBadge.tsx
  apps/frontend/src/components/layout/Footer.tsx
  apps/frontend/src/components/layout/Header.tsx
  apps/frontend/src/components/layout/PublicNav.tsx
  apps/frontend/src/components/layout/Sidebar.tsx
Due: unittests, e2e, Frontend Components

fix: remove final layout lint blockers in nav and tests
  apps/frontend/src/components/layout/UnifiedNav.tsx
  apps/frontend/src/components/layout/__tests__/Footer.test.tsx
  apps/frontend/src/components/layout/__tests__/Header.test.tsx
  apps/frontend/src/components/layout/__tests__/Sidebar.test.tsx
Due: unittests, e2e, Frontend Components

fix: remove remaining navigation and marketing lint leftovers
  apps/frontend/src/components/marketing/home/AgentDemoShowcase.tsx
  apps/frontend/src/components/marketing/shared/scroll-reveal.tsx
  apps/frontend/src/components/navigation/ClerkStyleNav.tsx
  apps/frontend/src/components/navigation/ProfessionalNav.tsx
Due: unittests, e2e, Frontend Components

fix: clear remaining shared ui and notifications lint blockers
  apps/frontend/src/components/notifications/NotificationBell.tsx
  apps/frontend/src/components/notifications/NotificationCenter.tsx
  apps/frontend/src/components/optimized/LazyImage.tsx
  apps/frontend/src/components/optimized/LazySection.tsx
  apps/frontend/src/components/plan-limits/PlanLimits.tsx
  apps/frontend/src/components/shared/QuotaWarningBanner.tsx
  apps/frontend/src/components/theme/BrandThemeProvider.tsx
  apps/frontend/src/components/ui/__tests__/dialog.test.tsx
Due: unittests, e2e, Frontend Components

fix: resolve hook and premium ui lint debt
  apps/frontend/src/components/ui/__tests__/input.test.tsx
  apps/frontend/src/components/ui/animated-border.tsx
  apps/frontend/src/components/ui/premium/custom-cursor.tsx
  apps/frontend/src/components/ui/premium/orbiting-circles.tsx
  apps/frontend/src/components/widgets/ROICalculator.tsx
  apps/frontend/src/hooks/__tests__/useAuth.test.tsx
  apps/frontend/src/hooks/__tests__/usePreloader.test.ts
Due: unittests, e2e, Frontend Components

fix: clear last analytics and ai lint blockers
  apps/frontend/src/hooks/useScrollAnimations.ts
  apps/frontend/src/i18n/useI18n.ts
  apps/frontend/src/lib/admin/integrations/google-ads.ts
  apps/frontend/src/lib/ai/AIService.ts
  apps/frontend/src/lib/ai/useAI.ts
  apps/frontend/src/lib/analytics/AdvancedAnalytics.ts
  apps/frontend/src/lib/analytics/AnalyticsService.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: remove final frontend lib lint blockers
  apps/frontend/src/lib/analytics/google-analytics.ts
  apps/frontend/src/lib/api-response.ts
  apps/frontend/src/lib/cache/public-api-cache.ts
  apps/frontend/src/lib/cache/redis.ts
  apps/frontend/src/lib/dynamic-imports.tsx
  apps/frontend/src/lib/email-templates.ts
  apps/frontend/src/lib/hooks/api/useFeatureGate.tsx
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: resolve final hook and integration lint issues
  apps/frontend/src/lib/hooks/useAuth.ts
  apps/frontend/src/lib/hooks/useDashboardData.ts
  apps/frontend/src/lib/hooks/useFavorites.ts
  apps/frontend/src/lib/hooks/useSolutionData.ts
  apps/frontend/src/lib/integrations/shopify.ts
Due: unittests, e2e, Frontend Hooks, Frontend Libraries

fix: clear remaining security and infra lint warnings
  apps/frontend/src/lib/integrations/woocommerce.ts
  apps/frontend/src/lib/logger-server.ts
  apps/frontend/src/lib/performance/lazy-imports.ts
  apps/frontend/src/lib/performance/preload.ts
  apps/frontend/src/lib/rate-limit.ts
  apps/frontend/src/lib/redis-cache.ts
  apps/frontend/src/lib/security/SSO.ts
  apps/frontend/src/lib/security/TwoFactorAuth.ts
Due: unittests, e2e, Frontend Libraries

fix: clean storage and service layer lint findings
  apps/frontend/src/lib/services/AdminService.ts
  apps/frontend/src/lib/services/AnalyticsService.ts
  apps/frontend/src/lib/services/ReportService.ts
  apps/frontend/src/lib/storage.ts
  apps/frontend/src/lib/storage/storage-service.ts
Due: unittests, e2e, Frontend Libraries

fix: clear remaining utils and sentry release-gate warnings
  apps/frontend/src/lib/monitoring/sentry.ts
  apps/frontend/src/lib/sentry.ts
  apps/frontend/src/lib/utils/ar.ts
  apps/frontend/src/lib/utils/customization.ts
  apps/frontend/src/lib/utils/error-handler.ts
  apps/frontend/src/lib/utils/helpers.ts
  apps/frontend/src/lib/utils/shipping-calculator.ts
  apps/frontend/src/lib/utils/validation.ts
Due: unittests, e2e, Frontend Libraries

fix: clear final test and store lint blockers
  apps/frontend/src/store/dashboard.store.ts
  apps/frontend/src/test/helpers.tsx
  apps/frontend/tests/e2e/admin-dashboard.spec.ts
  apps/frontend/tests/e2e/analytics-flows.spec.ts
  apps/frontend/tests/e2e/cross-browser.spec.ts
Due: unittests, e2e

fix: remove remaining e2e type lint warnings
  apps/frontend/tests/e2e/dashboard.spec.ts
  apps/frontend/tests/e2e/fixtures.ts
  apps/frontend/tests/e2e/global-teardown.ts
  apps/frontend/tests/e2e/orders-flows.spec.ts
  apps/frontend/tests/e2e/performance-monitoring.spec.ts
  apps/frontend/tests/e2e/products-flows.spec.ts
  apps/frontend/tests/e2e/rate-limiting.spec.ts
  apps/frontend/tests/e2e/registration-flow.spec.ts
Due: none

fix: clear remaining e2e helper warnings
  apps/frontend/tests/e2e/test-production-complet.spec.ts
  apps/frontend/tests/e2e/tunnel-client-final.spec.ts
  apps/frontend/tests/e2e/tunnel-complet-production.spec.ts
  apps/frontend/tests/e2e/usage-quota-dashboard.spec.ts
  apps/frontend/tests/e2e/utils/common.ts
  apps/frontend/tests/e2e/utils/locale.ts
  apps/frontend/tests/e2e/workflows/admin-dashboard-flow.spec.ts
Due: none

fix: clear remaining security and workflow lint warnings
  apps/frontend/tests/e2e/workflows/checkout-to-confirmation.spec.ts
  apps/frontend/tests/e2e/workflows/complete-user-journey.spec.ts
  apps/frontend/tests/e2e/workflows/design-to-order.spec.ts
  apps/frontend/tests/e2e/workflows/registration-to-design.spec.ts
  apps/frontend/tests/e2e/workflows/upload-to-export.spec.ts
  apps/frontend/tests/e2e/workflows/woocommerce-integration.spec.ts
  apps/frontend/tests/security/csrf.test.ts
Due: none

fix: remove any from global motion declarations
  apps/frontend/types/global.d.ts
Due: none

fix: prevent cli workflows doc build parsing error
  apps/frontend/src/app/(public)/help/documentation/cli/workflows/page.tsx
Due: unittests, e2e

fix: track release smoke scripts used by quality gate
  .gitignore
  scripts/smoke/critical-smoke.mjs
  scripts/smoke/post-login-tunnel-smoke.mjs
Due: none

fix: make post-login smoke optional without credentials
  scripts/smoke/post-login-tunnel-smoke.mjs
Due: none

fix: harden production paths for webhooks, scheduling, and api keys
  .github/workflows/deploy-production.yml
  Dockerfile
  apps/backend/Dockerfile.ar-worker
  apps/backend/src/common/common.module.ts
  apps/backend/src/common/middleware/xss-sanitize.middleware.ts
  apps/backend/src/modules/channels/email/email-webhook.controller.ts
  apps/backend/src/modules/public-api/guards/api-quota.guard.ts
  apps/backend/src/modules/public-api/public-api.service.spec.ts
  apps/backend/src/modules/public-api/public-api.service.ts
  apps/backend/src/modules/scheduled-messages/scheduled-messages.scheduler.ts
  apps/backend/src/modules/scheduled-messages/scheduled-messages.service.spec.ts
  apps/backend/src/modules/scheduled-messages/scheduled-messages.service.ts
  apps/frontend/Dockerfile.dev
  apps/frontend/Dockerfile.production
  apps/frontend/src/lib/security/csp-nonce.ts
Due: unittests, e2e, Frontend Libraries

docs/tests: align ci-cd runbooks and harden auth middleware coverage
  apps/frontend/src/app/api/v1/auth/__tests__/auth-proxy-routes.test.ts
  apps/frontend/tests/e2e/workflows/critical-production-flows.spec.ts
  apps/frontend/tests/security/middleware-security.test.ts
  docs/DEPLOYMENT_CHECKLIST.md
  docs/ROLLBACK_GUIDE.md
  docs/ci-cd/CI_CD_GUIDE.md
Due: none

test: cover webhook raw-body and xss middleware bypass paths
  apps/backend/src/common/middleware/xss-sanitize.middleware.spec.ts
  apps/backend/src/modules/billing/stripe-webhook.controller.spec.ts
Due: none

docs: add production go/no-go and hypercare playbooks
  docs/GO_LIVE_HARDENING_CHECKLIST.md
  docs/GO_NO_GO_PRODUCTION_MATRIX.md
  docs/HYPERCARE_24_48H.md
  docs/INCIDENT_READY_CHECKLIST.md
  docs/INDEX.md
Due: none

feat: finalize release reliability gates and frontend observability init
  .github/workflows/ci.yml
  .github/workflows/preprod-smoke.yml
  .github/workflows/release-gates.yml
  .github/workflows/rollback-drill.yml
  .gitignore
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/LazyAnalytics.tsx
  apps/frontend/tests/e2e/workflows/critical-production-flows.spec.ts
  package.json
  scripts/release/build-release-reliability-kpi.mjs
  scripts/smoke/critical-smoke.mjs
Due: unittests, e2e, Frontend Components

fix: include migration readiness verifier in repository
  apps/backend/scripts/verify-migration-readiness.ts
Due: none

fix: make migration readiness check strict only by explicit flag
  apps/backend/scripts/verify-migration-readiness.ts
Due: none

fix: stop forcing strict DB migration check in default release gate
  package.json
Due: none

fix: auto-install Playwright chromium before post-login smoke
  package.json
Due: none

fix: make Railway deploy workflow explicit with project context secrets
  .github/workflows/deploy-production.yml
Due: none

Path conditions:
  unittests: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  e2e: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Components: any of: apps/frontend/src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Hooks: any of: apps/frontend/src/hooks/**, apps/frontend/src/lib/hooks/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Libraries: any of: apps/frontend/src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend API Routes: any of: apps/frontend/src/app/api/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
