Repository Luneo19/luneo-platform: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries, Frontend API Routes

fix: correct raw SQL column names, remove mock data, eliminate "Coming Soon"
  apps/backend/src/modules/agents/optimizations/vector-store.service.ts
  apps/backend/src/modules/analytics/services/analytics-clean.service.ts
  apps/backend/src/modules/analytics/services/analytics.service.ts
  apps/frontend/src/app/(dashboard)/dashboard/affiliate/components/tabs/AiMlTab.tsx
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/3d/components/ExportDialog.tsx
  apps/frontend/src/app/(dashboard)/integrations-dashboard/page.tsx
  apps/frontend/src/app/(public)/solutions/branding/page.tsx
  apps/frontend/src/app/api/admin/analytics/heatmap/route.ts
  apps/frontend/src/app/api/admin/analytics/trends/route.ts
  apps/frontend/src/app/share/[token]/page.tsx
  apps/frontend/src/components/navigation/ZakekeStyleNav.tsx
Due: unittests, e2e, Frontend Components, Frontend API Routes

fix: replace remaining "Coming Soon" toasts with actionable messages
  apps/frontend/src/app/(dashboard)/dashboard/ab-testing/ABTestingPageClient.tsx
  apps/frontend/src/app/(dashboard)/dashboard/ar-studio/collaboration/ARCollaborationPageClient.tsx
  apps/frontend/src/app/(dashboard)/dashboard/ar-studio/integrations/ARIntegrationsPageClient.tsx
  apps/frontend/src/app/(dashboard)/dashboard/ar-studio/library/ARStudioLibraryPageClient.tsx
Due: unittests, e2e

feat: webhook module production-ready + fix all incomplete pages
  apps/backend/src/modules/public-api/webhooks/webhooks.service.ts
  apps/backend/src/modules/webhooks/webhooks.controller.ts
  apps/backend/src/modules/webhooks/webhooks.service.ts
  apps/frontend/src/app/(dashboard)/ai-studio/luxury/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/3d/components/StudioTabList.tsx
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/3d/components/index.ts
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/3d/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/seller/SellerPageClient.tsx
  apps/frontend/src/app/(super-admin)/admin/marketing/automations/new/page.tsx
  apps/frontend/src/app/(super-admin)/admin/marketing/campaigns/page.tsx
  apps/frontend/src/app/(super-admin)/admin/marketing/page.tsx
  apps/frontend/src/app/(super-admin)/admin/orion/quick-wins/page.tsx
  apps/frontend/src/app/(super-admin)/admin/webhooks/new/page.tsx
  apps/frontend/src/app/(super-admin)/admin/webhooks/page.tsx
Due: unittests, e2e

fix: PLATFORM_ADMIN access to webhooks + admin CRUD methods
  apps/backend/src/modules/public-api/webhooks/webhooks.controller.ts
  apps/backend/src/modules/public-api/webhooks/webhooks.service.ts
Due: none

fix: reorder webhook controller routes (static before parametric)
  apps/backend/src/modules/public-api/webhooks/webhooks.controller.ts
Due: none

fix: sanitize pagination params in webhook service (prevent NaN skip/take)
  apps/backend/src/modules/public-api/webhooks/webhooks.service.ts
Due: none

chore: trigger rebuild for campaigns page
  apps/frontend/src/app/(super-admin)/admin/marketing/campaigns/page.tsx
Due: unittests, e2e

fix: resolve all console errors on public and dashboard pages
  apps/backend/src/modules/admin/admin.controller.ts
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/3d/hooks/useAIStudio3DPageState.ts
  apps/frontend/src/app/(dashboard)/dashboard/ai-studio/animations/hooks/useAnimations.ts
  apps/frontend/src/app/(dashboard)/dashboard/ar-studio/library/hooks/useARLibrary.ts
  apps/frontend/src/app/(dashboard)/dashboard/security/hooks/useSecuritySettings.ts
  apps/frontend/src/app/(dashboard)/dashboard/settings/components/tabs/PreferencesTab.tsx
  apps/frontend/src/app/(public)/layout.tsx
  apps/frontend/src/app/(public)/solutions/branding/page.tsx
  apps/frontend/src/app/(public)/solutions/ecommerce/page.tsx
  apps/frontend/src/app/(public)/solutions/marketing/page.tsx
  apps/frontend/src/app/(public)/solutions/social-media/page.tsx
  apps/frontend/src/app/(public)/solutions/social/page.tsx
  apps/frontend/src/app/(public)/solutions/visual-customizer/page.tsx
  apps/frontend/src/app/(super-admin)/admin/webhooks/page.tsx
  apps/frontend/src/components/ar/ViewInAR.tsx
  apps/frontend/src/lib/hooks/useSolutionData.ts
  vercel.json
Due: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries

fix: resolve hydration errors, TypeError and ErrorBoundary crashes on frontend
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/CrispChat.tsx
  apps/frontend/src/components/GoogleAnalytics.tsx
  apps/frontend/src/components/LazyAnalytics.tsx
  apps/frontend/src/components/marketing/shared/scroll-reveal.tsx
  apps/frontend/src/components/theme/BrandThemeProvider.tsx
  apps/frontend/src/hooks/useAuth.tsx
  apps/frontend/src/lib/web-vitals.ts
Due: unittests, e2e, Frontend Components, Frontend Hooks, Frontend Libraries

fix: migrate try-on module from @nestjs/bullmq to @nestjs/bull
  apps/backend/src/modules/try-on/jobs/try-on.processor.ts
  apps/backend/src/modules/try-on/services/model-optimization.service.ts
  apps/backend/src/modules/try-on/try-on.module.ts
Due: none

chore: update buildid for Railway deployment
  .buildid
Due: none

chore: add migration for AICollaborationWorkspace table
  apps/backend/prisma/migrations/20260216210000_add_ai_collaboration_workspace/migration.sql
Due: none

fix: resolve TypeScript errors in frontend agent hooks
  apps/frontend/src/hooks/agents/useAriaAnalysis.ts
  apps/frontend/src/hooks/agents/useConversation.ts
Due: unittests, e2e, Frontend Hooks

fix: resolve TypeScript errors blocking Railway Docker build
  apps/backend/src/modules/configurator-3d/controllers/configurator-3d-components.controller.ts
  apps/backend/src/modules/configurator-3d/controllers/configurator-3d-rules.controller.ts
Due: none

fix: resolve all Docker build errors for Railway deployment
  apps/backend/src/modules/ar/conversion/model-converter.service.ts
  apps/backend/src/modules/ar/platforms/ios/usdz-generator.service.ts
  apps/backend/src/modules/ar/workers/analytics-aggregation.worker.ts
  apps/backend/src/modules/ar/workers/conversion.worker.ts
  apps/backend/src/modules/ar/workers/optimization.worker.ts
  apps/backend/src/modules/configurator-3d/workers/analytics-aggregation.worker.ts
  apps/backend/src/modules/configurator-3d/workers/cache-warmup.worker.ts
  apps/backend/src/modules/configurator-3d/workers/export-3d.worker.ts
  apps/backend/src/modules/configurator-3d/workers/export-pdf.worker.ts
  apps/backend/src/modules/visual-customizer/workers/analytics.worker.ts
  apps/backend/src/modules/visual-customizer/workers/export.worker.ts
  apps/backend/src/modules/visual-customizer/workers/moderation.worker.ts
  apps/backend/src/modules/visual-customizer/workers/render.worker.ts
  apps/backend/src/modules/visual-customizer/workers/thumbnail.worker.ts
Due: none

fix: add multer as production dependency for Railway deployment
  apps/backend/package.json
  pnpm-lock.yaml
Due: none

fix: add PCE metrics to usage-metering test expectedUnits
  apps/backend/src/modules/usage-billing/services/usage-metering.service.spec.ts
Due: none

fix: correct pce_fulfillments unit in usage-metering test
  apps/backend/src/modules/usage-billing/services/usage-metering.service.spec.ts
Due: none

fix: lower coverage thresholds to match current codebase coverage (~25%)
  apps/backend/jest.config.js
Due: none

fix: resolve Docker build TypeScript error in fulfillment service
  apps/backend/src/modules/production-commerce-engine/fulfillment/services/fulfillment.service.ts
Due: none

fix: move @nestjs/bullmq to production dependencies for Railway
  apps/backend/package.json
Due: none

fix: sync pnpm-lock.yaml after moving @nestjs/bullmq to dependencies
  pnpm-lock.yaml
Due: none

fix: make PCE module conditional (ENABLE_PCE=true) for safe production rollout
  apps/backend/src/app.module.ts
Due: none

fix: configure BullMQ Redis connection for PCE module
  apps/backend/src/modules/production-commerce-engine/pce.module.ts
Due: none

fix: production hardening — CDN cache, rate limiting, security secrets
  apps/backend/package.json
  apps/backend/railway.toml
  apps/backend/src/modules/production-commerce-engine/pce-bull.module.ts
  apps/frontend/next.config.mjs
  apps/frontend/package.json
  apps/frontend/src/app/(public)/share/quota/[token]/page.tsx
  apps/frontend/src/app/api/careers/route.ts
  apps/frontend/src/components/Customizer/core/CustomizerToolbar.tsx
  apps/frontend/src/components/Customizer/panels/ShapePanel.tsx
  apps/frontend/src/components/Customizer/tools/QRCodeTool.tsx
  apps/frontend/src/components/Customizer/tools/ShapeTool.tsx
  apps/frontend/src/lib/csrf.ts
  apps/frontend/src/lib/rate-limit/index.ts
  apps/frontend/src/lib/seo/constants.ts
  vercel.json
Due: unittests, e2e, Frontend Components, Frontend Libraries, Frontend API Routes

fix: resolve TypeScript build errors for production deployment
  apps/frontend/src/components/admin/command-palette.tsx
  apps/frontend/src/components/notifications/NotificationCenter.tsx
Due: unittests, e2e, Frontend Components

fix: restore || true for backend postinstall prisma generate
  apps/backend/package.json
Due: none

fix: make CSRF/quota secrets runtime warnings instead of build-time errors
  apps/frontend/src/app/(public)/share/quota/[token]/page.tsx
  apps/frontend/src/lib/csrf.ts
Due: unittests, e2e, Frontend Libraries

fix: resolve 403 CSRF and 404 tRPC errors in production
  apps/backend/src/common/middleware/csrf-token.middleware.ts
  apps/frontend/src/app/api/trpc/[...trpc]/route.ts
Due: unittests, e2e, Frontend API Routes

fix: type dpi variable as number to fix Railway Docker build
  apps/backend/src/modules/rendering/services/render-pipeline.service.ts
Due: none

fix: revert express/compression/helmet/cookieParser to require() for CJS compat
  apps/backend/src/main.ts
  apps/backend/src/serverless.ts
Due: none

fix: use relative URL for white-label theme fetch to avoid CORS
  apps/frontend/src/components/theme/BrandThemeProvider.tsx
Due: unittests, e2e, Frontend Components

Path conditions:
  unittests: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  e2e: any of: apps/frontend/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Components: any of: apps/frontend/src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Hooks: any of: apps/frontend/src/hooks/**, apps/frontend/src/lib/hooks/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend Libraries: any of: apps/frontend/src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
  Frontend API Routes: any of: apps/frontend/src/app/api/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/__tests__/**, **/tests/**, **/*.d.ts, **/types/**, **/config/**, **/scripts/**
